<div id="blog-view">
	<div id="blog-view-all" class="blog-split">
		<div class="table-100">
			<div class="table-row">
				<div id="blog-splash" class="table-cell-middle">
					<p id="blog-title">BLOGUE</p>
					<h1>Toute l'actualité autour du Web à Québec</h1>
				</div>
			</div>
			<div class="table-row stretch-v">
				<div class="table-cell">
					<div id="blog-container">
						<div id="blog-grid">

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div id="blog-view-article" class="blog-split blog-split-hidden">
	</div>
</div>
