<div id="article-logo-border"></div>
<div id="article-photo">
	<div id="article-details">
		<div id="article-return" class="button"></div>
		<div id="article-title">
			<h1 id="article-title-el"></h1>
		</div>
	</div>
</div>
<div id="article-content">
	<div class="article-table">
		<div class="article-row">
			<div id="article-links" class="article-cell article-cell-sidebar">
				<div class="article-sidebar-content articles-sidebar-padded">
				</div>
			</div>
			<div class="article-cell article-cell-content">
				<div id="article-text-wrapper">
					<div id="article-text">
					</div>
				</div>
				<div class="article-center-wrapper">
					<div id="article-share" class="article-center">
						<span>Partager cet article: </span>
						<i id="article-tw" class="fa fa-twitter"></i>
						<i id="article-fb" class="fa fa-facebook"></i>
						<i id="article-li" class="fa fa-linkedin"></i>
					</div>
				</div>
				<div class="article-center-wrapper">
					<div id="article-navigate" class="article-center">
						<div id="article-prev" class="article-navButton"><span>PRÉCÉDENT</span></div>
						<div id="article-next" class="article-navButton"><span>SUIVANT</span></div>
					</div>
				</div>
			</div>
			<div class="article-cell article-cell-sidebar">
				<div class="article-sidebar-content">
					<div id="article-author">
						<div id="article-author-portrait">
							<img src="{%= o.profile.thumbnail %}" alt="{:auteur}"/>
						</div>
						<div id="article-author-name">
							<h2>{%= o.profile.firstName %} {%= o.profile.lastName %}</h2>
						</div>
						<div id="article-author-bio">
							<p>{%= o.bio %}</p>
						</div>
						<div id="article-author-social-container" class="article-center-wrapper">
							<div id="article-author-social" class="article-center">
								<i class="fa fa-twitter"></i>
								<i class="fa fa-facebook"></i>
								<i class="fa fa-linkedin"></i>
							</div>
						</div>
						<div class="article-center-wrapper">
							<div id="article-tags-mobile" class="article-center">
								<div class="tag-on tag-prog">programmation</div>
								<div class="tag-on tag-ent">entreprenariat</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
