<div id="blog-view">
	<!--<div id="blog-splash">-->
	<div class="table-100">
		<div class="table-row">
			<div id="blog-splash" class="table-cell-middle">
				<p id="blog-title">BLOGUE</p>
				<h1>Toute l'actualité autour du Web à Québec</h1>
			</div>
		</div>
		<div class="table-row stretch-v">
			<div class="table-cell">
				<div id="blog-container">
					<div id="blog-grid">
						<div class="blog-cell">
							<div class="blog-post" style="height: 27em; background-image: url('img/blog/blog-placeholder-2.jpg')">
								<div class="blog-preview">
									<p class="blog-post-title">Titre de l'article</p>
									<p class="blog-post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue tincidunt tortor.</p>
									<p class="blog-post-description">...</p>
								</div>
							</div>
						</div>
						<div class="blog-cell">
							<div class="blog-post" style="height: 30em; background-image: url('img/blog/blog-placeholder-1.jpg')">
								<div class="blog-preview">
									<p class="blog-post-title">Titre de l'article</p>
									<p class="blog-post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue tincidunt tortor.</p>
									<p class="blog-post-description">...</p>
								</div>
							</div>
						</div>
						<div class="blog-cell">
							<div class="blog-post" style="height: 25em; background-image: url('img/blog/blog-placeholder-2.jpg')">
								<div class="blog-preview">

	<p class="blog-post-title">Titre de l'article</p>
	<p class="blog-post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue tincidunt tortor.</p>
	<p class="blog-post-description">...</p>
								</div>
							</div>
						</div>
						<div class="blog-cell">
							<div class="blog-post" style="height: 35em; background-image: url('img/blog/blog-placeholder-1.jpg')">
								<div class="blog-preview">

	<p class="blog-post-title">Titre de l'article</p>
	<p class="blog-post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue tincidunt tortor.</p>
	<p class="blog-post-description">...</p>
								</div>
							</div>
						</div>
						<div class="blog-cell">
							<div class="blog-post" style="height: 20em; background-image: url('img/blog/blog-placeholder-2.jpg')">
								<div class="blog-preview">

	<p class="blog-post-title">Titre de l'article</p>
	<p class="blog-post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue tincidunt tortor.</p>
	<p class="blog-post-description">...</p>
								</div>
							</div>
						</div>
						<div class="blog-cell">
							<div class="blog-post" style="height: 20em; background-image: url('img/blog/blog-placeholder-1.jpg')">
								<div class="blog-preview">

	<p class="blog-post-title">Titre de l'article</p>
	<p class="blog-post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue tincidunt tortor.</p>
	<p class="blog-post-description">...</p>
								</div>
							</div>
						</div>
						<div class="blog-cell">
							<div class="blog-post" style="height: 30em; background-image: url('img/blog/blog-placeholder-2.jpg')">
								<div class="blog-preview">

	<p class="blog-post-title">Titre de l'article</p>
	<p class="blog-post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue tincidunt tortor.</p>
	<p class="blog-post-description">...</p>
								</div>
							</div>
						</div>
						<div class="blog-cell">
							<div class="blog-post" style="height: 25em; background-image: url('img/blog/blog-placeholder-1.jpg')">
								<div class="blog-preview">

	<p class="blog-post-title">Titre de l'article</p>
	<p class="blog-post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue tincidunt tortor.</p>
	<p class="blog-post-description">...</p>
								</div>
							</div>
						</div>
						<div class="blog-cell">
							<div class="blog-post" style="height: 35em; background-image: url('img/blog/blog-placeholder-2.jpg')">
								<div class="blog-preview">

	<p class="blog-post-title">Titre de l'article</p>
	<p class="blog-post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue tincidunt tortor.</p>
	<p class="blog-post-description">...</p>
								</div>
							</div>
						</div>
						<div class="blog-cell">
							<div class="blog-post" style="height: 20em; background-image: url('img/blog/blog-placeholder-1.jpg')">
								<div class="blog-preview">

	<p class="blog-post-title">Titre de l'article</p>
	<p class="blog-post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue tincidunt tortor.</p>
	<p class="blog-post-description">...</p>
								</div>
							</div>
						</div>
						<div class="blog-cell">
							<div class="blog-post" style="height: 20em; background-image: url('img/blog/blog-placeholder-2.jpg')">
								<div class="blog-preview">

	<p class="blog-post-title">Titre de l'article</p>
	<p class="blog-post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue tincidunt tortor.</p>
	<p class="blog-post-description">...</p>
								</div>
							</div>
						</div>
						<div class="blog-cell">
							<div class="blog-post" style="height: 30em; background-image: url('img/blog/blog-placeholder-1.jpg')">
								<div class="blog-preview">

	<p class="blog-post-title">Titre de l'article</p>
	<p class="blog-post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue tincidunt tortor.</p>
	<p class="blog-post-description">...</p>
								</div>
							</div>
						</div>
						<div class="blog-cell">
							<div class="blog-post" style="height: 25em; background-image: url('img/blog/blog-placeholder-2.jpg')">
								<div class="blog-preview">

	<p class="blog-post-title">Titre de l'article</p>
	<p class="blog-post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue tincidunt tortor.</p>
	<p class="blog-post-description">...</p>
								</div>
							</div>
						</div>
						<div class="blog-cell">
							<div class="blog-post" style="height: 35em; background-image: url('img/blog/blog-placeholder-1.jpg')">
								<div class="blog-preview">

	<p class="blog-post-title">Titre de l'article</p>
	<p class="blog-post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue tincidunt tortor.</p>
	<p class="blog-post-description">...</p>
								</div>
							</div>
						</div>
						<div class="blog-cell">
							<div class="blog-post" style="height: 20em; background-image: url('img/blog/blog-placeholder-2.jpg')">
								<div class="blog-preview">

	<p class="blog-post-title">Titre de l'article</p>
	<p class="blog-post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue tincidunt tortor.</p>
	<p class="blog-post-description">...</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
