<div id="blog-view">
	<div id="blog-view-all" class="blog-split">
		<div class="table-100">
			<div class="table-row">
				<div id="blog-splash" class="table-cell-middle">
					<p id="blog-title">BLOGUE</p>
					<h1>Toute l'actualité autour du Web à Québec</h1>
				</div>
			</div>
			<div class="table-row stretch-v">
				<div class="table-cell">
					<div id="blog-container">
						<div id="blog-grid">

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div id="blog-view-article" class="blog-split blog-split-hidden">
		<div id="article-logo-border"></div>
		<div id="article-photo">
			<div id="article-details">
				<i id="article-return" class="fa fa-arrow-left button"></i>
				<div id="article-title">
					<h1 id="article-title-el"></h1>
				</div>
			</div>
		</div>
		<div id="article-content">
			<div class="article-table">
				<div class="article-row">
					<div id="article-links" class="article-cell article-cell-sidebar">
						<div class="article-sidebar-content articles-sidebar-padded">
							<h2>Thématiques</h2>
							<div id="article-tags">
								<div class="tag tag-prog">programmation</div>
								<div class="tag tag-ent">entreprenariat</div>
							</div>
							<h2>Articles similaires&nbsp;:</h2>
							<a href="#">TITRE DE L'ARTICLE</a>
							<a href="#">TITRE DE L'ARTICLE</a>
							<a href="#">TITRE DE L'ARTICLE</a>
							<a href="#">TITRE DE L'ARTICLE</a>
							<a href="#">TITRE DE L'ARTICLE</a>
							<a href="#">TITRE DE L'ARTICLE</a>
						</div>
					</div>
					<div class="article-cell article-cell-content">
						<div id="article-text-wrapper">
							<div id="article-text">

							</div>
						</div>
						<div class="article-center-wrapper">
							<div id="article-share" class="article-center">
								<span>Partager cet article: </span>
								<i id="article-tw" class="fa fa-twitter"></i>
								<i id="article-fb" class="fa fa-facebook"></i>
								<i id="article-li" class="fa fa-linkedin"></i>
							</div>
						</div>
						<div class="article-center-wrapper">
							<div id="article-navigate" class="article-center">
								<div id="article-prev" class="article-navButton"><span>PRÉCÉDENT</span></div>
								<div id="article-next" class="article-navButton"><span>SUIVANT</span></div>
							</div>
						</div>
					</div>
					<div class="article-cell article-cell-sidebar">
						<div class="article-sidebar-content">
							<div id="article-author">
								<div id="article-author-portrait">
									<img src="img/profiles/thumb-p1.jpg" alt="{:auteur}"/>
								</div>
								<div id="article-author-name">
									<h2>Auteur du Post</h2>
								</div>
								<div id="article-author-bio">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper nec tortor eget vulputate.</p>
								</div>
								<div id="article-author-social-container" class="article-center-wrapper">
									<div id="article-author-social" class="article-center">
										<i class="fa fa-twitter"></i>
										<i class="fa fa-facebook"></i>
										<i class="fa fa-linkedin"></i>
									</div>
								</div>
								<div class="article-center-wrapper">
									<div id="article-tags-mobile" class="article-center">
										<div class="tag tag-prog">programmation</div>
										<div class="tag tag-ent">entreprenariat</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
