<div class="user" id="user{%=o.ID %}"" style="width:100%;height:140px;">
    <div>User Email</div>
	<input type="text" id="email{%=o.ID %}" placeholder="User's Email" style="float:left; width:100%;" value="mcote@cortexmedia.ca">
	<div style="float:left;">User Name</div>
	<input type="text" id="name{%=o.ID %}" placeholder="User's Name" style="float:left; width:100%;" value="Mathieu Cote">
	<div style="float:left;">User Department</div>
	<select id="department{%=o.ID %}" style="float:left; width:100%;" value="Admin">
		<option value="none">Department</option>
		{% for(var i=0; i<o.departments.length; i++) { %}
			<option value={%=o.departments[i].Name %}>{%=o.departments[i].Name %}</option>
		{% } %}
	</select>
	<div class="buttonContainer">
		<div id="delete{%=o.ID %}" class="button" style="width:20px;">X</div>
	</div>
</div>