<div id="header-view">
	<div id="header-content">
		<div id="header-button-menu" class="header-button header-button-popping button">
			<span>MENU</span>
		</div>
		<div id="header-button-tickets" class="header-button header-button-popping button">
			<span>BILLETS</span>
		</div>
		<div class="header-button header-button-social">
			<a href="https://twitter.com/webaquebec" target="_blank"><i class="fa fa-twitter"></i></a>
		</div>
		<div class="header-button header-button-social">
			<a href="https://www.facebook.com/webaquebec/" target="_blank"><i class="fa fa-facebook"></i></a>
		</div>
		<div class="header-button header-button-social">
			<a href="https://www.linkedin.com/company/web-qu-bec" target="_blank"><i class="fa fa-linkedin"></i></a>
		</div>
		<div class="header-button header-button-social">
			<a href="https://instagram.com/webaquebec/" target="_blank"><i class="fa fa-instagram"></i></a>
		</div>
	</div>
</div>