<div id="schedule-view" class="schedule-view">
	<div id="schedule-header">
		<h1>L'horaire de vos conférences</h1>
	</div>
	<div id="schedule-sidebar" class="schedule-sidebar">
		<div class="schedule-menu-days">
			<div class="table-cell">
				<div id="schedule-btn-6" class="schedule-btn-date button">
					<span class="date-full-text">Lundi 6 Mars</span>
					<span class="date-mobile-text">M</span>
				</div>
				<div id="schedule-btn-7" class="schedule-btn-date button">
					<span class="date-full-text">Mardi 7 Mars</span>
					<span class="date-mobile-text">J</span>
				</div>
				<div id="schedule-btn-8" class="schedule-btn-date button last">
					<span class="date-full-text">Jeudi 8 Mars</span>
					<span class="date-mobile-text">V</span>
				</div>
				<div id="schedule-option" class="schedule-btn-option button">
					<span class="date-mobile-text" style="visibility:hidden">V</span>
				</div>
			</div>
		</div>
		<div id="schedule-menu-option" class="schedule-menu-option">
			<div class="table-cell">
				<div id="schedule-tags">
					<p>Vous êtes plutôt :</p>
					{% for(var i = 0, max = o.subjectTypes.length; i < max; i++) { %}
						<div id="tag-{%= o.subjectTypes[i].subjectSlug %}"
							class="tag tag-on tag-{%= o.subjectTypes[i].subjectSlug %} button">
							{%= o.subjectTypes[i].subjectType %}
						</div>
					{% } %}
				</div>
			</div>
		</div>
	</div>
	<div id="schedule-content-wrapper">
		<div id="schedule-content">

		</div>
	</div>
</div>
