<div id="schedule-view">
	<div id="schedule-header">
		<h1>L'horaire de vos conférences</h1>
	</div>
	<div id="schedule-sidebar" class="table">
		<div class="table-row stretch-v">
			<div class="table-cell">
				<div id="schedule-btn-18" class="schedule-btn-date button"><span>Mercredi 18 Mars</span></div>
				<div id="schedule-btn-19" class="schedule-btn-date button"><span>Jeudi 19 Mars</span></div>
				<div id="schedule-btn-20" class="schedule-btn-date button"><span>Vendredi 20 Mars</span></div>
			</div>
		</div>
		<div class="table-row">
			<div class="table-cell">
				<div id="schedule-tags">
					<p>Vous êtes plutôt :</p>
					<div id="tag-pro" class="tag tag-on tag-pro button">Programmation</div>
					<div id="tag-mar" class="tag tag-on tag-mar button">Marketing/communication</div>
					<div id="tag-ent" class="tag tag-on tag-ent button">Entreprenariat</div>
					<div id="tag-des" class="tag tag-on tag-des button">Design</div>
					<div id="tag-wor" class="tag tag-on tag-wor button">Ateliers</div>
					<div id="tag-ple" class="tag tag-on tag-ple button">Plénière</div>
				</div>
			</div>
		</div>
	</div>
	<div id="schedule-content-wrapper">
		<div id="schedule-content">

		</div>
	</div>
</div>
