<div id="conference-view-{%= o.ID %}" class="schedule-conference">
	<div id="conference-toggleElement-{%= o.ID %}" class="conference-content conference-collapsed">
		<div class="conference-overview">
			<div class="conference-toggle"></div>
			<div class="conference-tag tag-on tag-{%= o.subjectType.subjectSlug %}"></div>
			<img src="{%= o.speaker.thumbnail %}"/>
			<h2>{%= o.timeSlot.hours %}:{%= o.timeSlot.minutes %}</h2>
			<h3>{%= o.title %}</h3>
			<h4>{%= o.speaker.firstName %} {%= o.speaker.lastName %}</h4>
			<p class="tagc-{%= o.subjectType.subjectSlug %}">{%= o.subjectType.name %} - Salle {%= o.room.name %}</p>
		</div>
		<div class="conference-details">
			{%= o.description %}
		</div>
	</div>
</div>
