<div id="conference-view-{%= o.ID %}" class="schedule-conference">
	<div id="conference-toggleElement-{%= o.ID %}" class="conference-content conference-collapsed">
		<div class="conference-overview">
			<div class="conference-toggle"></div>
			<div class="conference-tag tag-on tag-{%= o.tagCss %}"></div>
			<img src="img/profiles/thumb-p1.jpg"/>
			<h2>{%= o.day %} Mars @ {%= o.hours %}:{%= o.minutes %}</h2>
			<h3>{%= o.title %}</h3>
			<h4>Christopher Croustillonce</h4>
			<p class="tagc-{%= o.tagCss %}">SALLE + NOM DE PARTENAIRE</p>
		</div>
		<div class="conference-details">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in dignissim magna. Ut eget ultricies velit. Vestibulum eu tincidunt risus, id ultrices leo. Donec vel nisi blandit, condimentum augue sed, maximus lacus. Suspendisse potenti. Sed sem eros, eleifend dictum hendrerit vitae, placerat id ex.
		</div>
	</div>
</div>
