<div id="conference-view-{%= o.ID %}" class="schedule-conference seo">
	<div id="conference-toggleElement-{%= o.ID %}" class="conference-content conference-collapsed">
		<div class="conference-overview">
			<div class="conference-toggle"></div>
			<div class="conference-tag tag-on tag-{%= o.subjectType.subjectSlug %}"></div>
			<img src="{%= o.speaker.thumbnail %}"/>
			<div class="conference-header">
				<h2>{%= o.timeSlot.hours %}:{%= o.timeSlot.minutes %}</h2>
				<h3>{%= o.shortTitle.toUpperCase() %}</h3>
				<h4><a id="speaker{%= o.ID %}">{%= o.speaker.firstName %} {%= o.speaker.lastName %}</a></h4>
				<p id="room{%= o.ID %}">{%= o.subjectType.name %} - Salle {%= o.room.name %}</p>
			</div>
		</div>
		<div class="conference-details">
			{%= o.description %}
		</div>
	</div>
</div>
