<div id="menu-view">
	<div class="background background-compact">
		<div class="parallax-layer front">
				<div class="clouds first">
					<div class="cloud"></div>
					<div class="cloud"></div>
					<div class="cloud"></div>
					<div class="cloud"></div>
				</div>
			</div>
			<div class="parallax-layer"><img id="background-chateau-compact" src="/svg/chateau.svg"></div>
			<div class="parallax-layer back">
				<div class="clouds first">
					<div class="cloud"></div>
					<div class="cloud"></div>
					<div class="cloud"></div>
				</div>
			</div>
			<div id="background-hill"></div>
			<div id="background-waves"></div>
	</div>
	
	<div id="menu-menuItemContainer">
	</div>
	
	<div id="menu-socialLinks">
		<a href="https://twitter.com/webaquebec" target="_blank"><i class="fa fa-twitter"></i></a>
		<a href="https://www.facebook.com/webaquebec/" target="_blank"><i class="fa fa-facebook"></i></a>
		<a href="https://www.linkedin.com/company/web-qu-bec" target="_blank"><i class="fa fa-linkedin"></i></a>
		<a href="https://instagram.com/webaquebec/" target="_blank"><i class="fa fa-instagram"></i></a>
	</div>
	
	<div id="menu-close" class="button"></div>
</div>