<div id="contact-view" class="contact-page">
	<div id="contact-explore">
		<div class="contact-table">
			<div class="contact-row">
				<div class="contact-cell">
					<div id="contact-logoPadding"></div>
				</div>
			</div>
			<div class="contact-row">
				<div class="contact-cell">
					<div id="contact-explore-tagline">
						<h1>Participer et visiter la belle ville de Québec? C’est maintenant possible avec nos bonnes adresses et la map.</h1>
					</div>
				</div>
			</div>
	        <div class="contact-row contact-stretch">
	            <div class="contact-cell">
	                <div id="contact-locations" class="contact-stretch">

					</div>
	            </div>
	        </div>
		</div>
    </div>

	<div id="contact-map">
		Map!
	</div>
	<div id="contact-follow">
		<div class="contact-table">
			<div class="contact-row">
				<div id="contact-follow-cell" class="contact-cell">
					<h2>Suivez nous sur les<br>réseaux sociaux et participez<br>d’avantage à l’aide du :</h2>
					<strong>#WAQ16</strong>
				</div>
			</div>
		</div>
	</div>
	<div id="contact-join">
		<h2>REJOIGNEZ NOUS !</h2>
		<h3>Terminal du port de Québec</h3>
		<p>84 Rue Dalhousie. Québec (Québec) G1K 4C4</p>
		<h3>Informations générales</h3>
		<p><a href="tel:1-877-334-2547">1 877 334-2547</a> | <a href="mailto:info@webaquebec.org">info@webaquebec.org</a></p>
		<h3>Informations médias</h3>
		<p><a href="#">Plus d'informations</a></p>
	</div>
</div>
