<div id="header-view">
	<div id="header-content">
		<div id="header-button-menu" class="header-button header-button-popping button">
			<span>MENU</span>
		</div>
		<div id="header-button-tickets" class="header-button header-button-popping button">
			<span>BILLETS</span>
		</div>
		<div class="header-button header-button-social">
			<a href="#"><i class="fa fa-twitter"></i></a>
		</div>
		<div class="header-button header-button-social">
			<a href="#"><i class="fa fa-facebook"></i></a>
		</div>
		<div class="header-button header-button-social">
			<a href="#"><i class="fa fa-linkedin"></i></a>
		</div>
		<!--
		<div id="header-btn-menu" class="header-btn header-btn-popping button">
			<img src="img/icon-menu.png"/><span>MENU</span>
		</div>
		<div id="header-btn-tickets" class="header-btn header-btn-popping button">
			<img src="img/icon-ticket.png"/><span>BILLETS</span>
		</div>
		<div id="header-btn-social" class="header-btn">
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
		</div>
		-->
	</div>
</div>