<div id="x" class="contact-explore-type">
	<img src="img/explore/pin-restaurant.png" alt="Restaurants"/>
	<h2>Restaurants</h2>
</div>
<div id="y" class="contact-destination-container">
	<p>5km _ Le Bureau de poasdste $$$$ _ 11.30/3am</p>
	<p>5km _ Le Bureau de poste $$$$ _ 11.30/3am</p>
	<p>5km _ Le Bureau de poste $$$$ _ 11.30/3am</p>
	<p>5km _ Le Bureau de poste $$$$ _ 11.30/3am</p>
	<p>5km _ Le Bureau de poste $$$$ _ 11.30/3am</p>
	<p>5km _ Le Bureau de poste $$$$ _ 11.30/3am</p>
	<p>5km _ Le Bureau de poste $$$$ _ 11.30/3am</p>
	<p>5km _ Le Bureau de poste $$$$ _ 11.30/3am</p>
	<p>5km _ Le Bureau de poste $$$$ _ 11.30/3am</p>
	<p>5km _ Le Bureau de poste $$$$ _ 11.30/3am</p>
	<p>5km _ Le Bureau de poste $$$$ _ 11.30/3am</p>
	<p>5km _ Le Bureau de poste $$$$ _ 11.30/3am</p>
	<p>5km _ Le Bureau de poste $$$$ _ 11.30/3am</p>
	<p>5km _ Le Bureau de poste $$$$ _ 11.30/3am</p>
</div>
