<div id="profiles-view" class="profiles-page">
	<div id="profiles-grid" class="profiles-split">
	</div>

	<div id="profiles-selection" class="profiles-split">
		<div id="profiles-selection-none">
			<h1>Le WAQ remercie ses nombreux bénévoles qui chaque année donnent&nbsp;vie&nbsp;à l'événement.</h1>
		</div>
		<div id="profiles-selection-show">
			<div id="profiles-selected-photo">
				<div id="profiles-selected-name">
					<span id="profiles-details-name" class="name"></span><span id="profiles-details-title" class="title"></span>
				</div>
			</div>
			<div id="profiles-selected-bio" class="profiles-selected-details">
			</div>
			<div id="profiles-selected-contact" class="profiles-selected-details">
				<p>Rejoignez <strong id="profiles-details-firstName">Paul</strong> sur les réseaux sociaux :</p>
				<a id="profiles-social-twitter" class="profiles-selected-social button" target="_blank"><i class="fa fa-twitter"></i></a>
				<a id="profiles-social-facebook" class="profiles-selected-social button" target="_blank"><i class="fa fa-facebook"></i></a>
				<a id="profiles-social-linkedin" class="profiles-selected-social button" target="_blank"><i class="fa fa-linkedin"></i></a>
			</div>
			<div id="profiles-selected-return" class="button">
				< Découvrez nos autres bénévoles
			</div>
		</div>
	</div>
</div>
