<div id="projectCreationView">
    <div style="float:left;">Client Name</div>
	<input type="text" id="clientName" placeholder="Client's Name" style="float:left; width:100%;" value="Benjo">
	<div style="float:left;">Project Name</div>
	<input type="text" id="projectName" placeholder="Project's Name" style="float:left; width:100%;" value="Site Transactionnel">
	<div style="float:left;">Project Description</div>
	<textarea id="projectDescription" placeholder="Project's Description" style="float:left; width:100%;">Site transactionnel de Benjo</textarea>
	<div class="buttonContainer">
		<div id="delete" class="button" style="width:13px;">X</div>
	</div>
	<div class="buttonContainer">
		<div id="create" class="button" style="width:45px;">Create</div>
	</div>

</div>
