<div id="projectEditView">
    <div style="float:left; width:100%;">Client's Name: {%=o.Client %}</div>
    <div style="float:left; width:100%;">Project's Name: {%=o.Name %}</div>
    <div style="float:left; width:100%;">Project's Description: {%=o.Description %}</div>
	<div class="buttonContainer">
		<div id="addEvaluation" class="button" style="width:110px;">Add Evaluation</div>
	</div>
	<div class="buttonContainer">
		<div id="backToProjectList" class="button" style="width:35px;">Back</div>
	</div>
</div>
