$color-tag-pro: #3fa9f5;
$color-tag-ent: #ff931e;
$color-tag-mar: #7ac943;
$color-tag-des: #ff1d25;
$color-tag-wor: #ffd600;
$color-tag-ple: #93278f;
$color-tag-gov: #00e9f8;
$color-tag-part: #333333;
$color-tag-deleg: #d81b60;
$color-white: #ffffff;
$color-black: #000000;
$color-light-blue: #00e9f8;
$color-blue: #00daf3;
$color-dark-blue: #0395ba;
$color-orange: #ffa41f;
$color-grey: #767676;
$color-dark-grey: #575757;
$color-light-grey: #e7e7e7;
