.contact-page {
	height: 100vh;
}

.contact-table {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}

.contact-row {
	display: table-row;
	width: 100%;
}

.contact-cell {
	display: table-cell;
	width: 100%;
}

.contact-stretch {
	height: 100%;
}

#contact-explore {
	width: 100%;
	background-color: #00DAF2;
}

#contact-logoPadding {
	height: 15em;
}

#contact-explore-tagline {
	color: #FFF;
	margin-bottom: 2em;
	padding: 0 6em;

	h1 {
		font-size: 2.75em;
		font-weight: 100;
		line-height: 1.5em;
	}
}

#contact-locations {
	padding: 0 6em;
}

.contact-explore-type {
	color: #227AA1;
	padding: 1.5em 0;
	border-top: solid 1px #227aa1;
	border-bottom: solid 1px #227aa1;
	margin-top: -1px;
	margin-right: 1.5em;

	h2 {
		font-size: 3em;
		font-weight: 600;
		display: inline-block;
		vertical-align: middle;
	}

	img {
		width: 3em;
		height: auto;
		display: inline-block;
		vertical-align: middle;
		margin-right: 1.75em;
	}
}

.contact-explore-type:first-child {
	margin-top: 0;
}

.contact-destination-container {
	padding: 2.5em 0 2em 1.25em;
	border-bottom: solid 1px #227AA1;
    line-height: 2em;

	p {
		font-size: 1.5em;
		padding-bottom: 2em;
		color: #FFF;
	}

	p:last-child {
		padding-bottom: 0.5em;
	}

    a {
		text-decoration: underline;
		color: white;
	}
}

.contact-destination-container:last-child {
	margin-bottom: 4em;
}

.contact-destination-container.expand {
	height: initial;
	padding: 1.5em 0;
}

#contact-map {
	display: none;
}

#contact-follow {
	color: #FFF;
	background-color: #227AA1;
	padding: 5em 6em;

	h2 {
		font-size: 3em;
		font-style: italic;
		line-height: 1.35em;
		font-weight: 300;
	}

	strong {
		font-size: 3.5em;
		font-weight: 600;
		line-height: 1.75em;
	}
}

#contact-join {
	padding: 3.5em 6em;
	color: #A0A0A0;

	h2 {
		font-size: 2.25em;
		color: #00DAF2;
		padding-bottom: 0.5em;
	}

	h3 {
		font-size: 2em;
		line-height: 1.75em;
	}

	p {
		font-size: 1.5em;
		padding-bottom: 1.5em;
	}

	a {
		text-decoration: underline;
		color: #A0A0A0;
	}
}

@include desktop {

	#contact-logoPadding {
		height: 6em;
	}

	#contact-explore {
		@include box-sizing;
		width: 32%;
		height: 100%;
		float: left;
	}

	#contact-explore-tagline {
		color: #FFF;
		margin-bottom: 1.75em;
		padding: 0 2.25em;

		h1 {
			font-size: 1.65em;
			font-weight: 100;
			line-height: 1.5em;
		}
	}

	#contact-locations {
		padding: 1.0em 1.5em;
	}

	.contact-explore-type {
		padding: 0.5em 0.4em;
		margin-right: 1.5em;
		border: none;

		h2 {
			font-size: 1.35em;
			font-weight: 400;
		}

		img {
			width: 1.5em;
			margin-right: 1em;
		}
	}

	.contact-destination-container {
		padding: 0 0 1em 0.5em;
		border-bottom: none;
        line-height: 1.2em;

		p {
			font-size: 1em;
			padding-bottom: 0.5em;
		}

		p:last-child {
			padding-bottom: 0;
		}

        a {
    		text-decoration: underline;
    		color: white;
    	}
	}

	#contact-map {
		display: initial;
		width: 68%;
		height: 64%;
		float: left;
		background-color: #EEE;
	}

	#contact-follow {
		width: 36%;

		h2, strong {
			font-size: 1.5em;
		}
	}

	#contact-follow,
	#contact-join {
		@include box-sizing;
		padding: 1em;
		height: 36%;
		float: left;
	}

	#contact-follow {
		text-align: center;
		padding: 0;
	}

	#contact-follow-cell {
		vertical-align: middle;
	}

	#contact-followWrapper {
		margin: auto;
	}

	#contact-join {
		width: 32%;
		padding: 1.5em 2em;

		h2 {
			font-size: 1.35em;
			padding-bottom: 1em;
		}

		h3 {
			font-size: 1.3em;
			line-height: 0.75em;
			padding-bottom: 0.5em;
		}

		p {
			font-size: 0.9em;
			padding-bottom: 1.75em;
		}
	}
}
