.contact-page {
	height: 100vh;
}

.contact-row {
	display: table-row;
}

.contact-cell {
	display: table-cell;
}

.contact-stretch {
	height: 100%;
}

#contact-explore {
	width: 100%;
	display: table;
	background-color: #00DAF2;
}

#contact-logoPadding {
	height: 30vw;
}

#contact-explore-tagline {
	color: #FFF;
	margin-bottom: 5vw;
	font-size: 5vw;
	padding: 0 12.5vw;

	h1 {
		font-size: 1.1em;
		font-weight: 100;
		line-height: 1.5em;
	}
}

#contact-locations {
	padding: 0 12.5vw;
}

.contact-explore-type {
	color: #227AA1;
	padding: 3vw 0;
	border-top: solid 1px #227aa1;
	border-bottom: solid 1px #227aa1;
	margin-top: -1px;
	margin-right: 5.5vw;
	font-size: 5vw;

	h2 {
		font-size: 1.35em;
		font-weight: 600;
		display: inline-block;
		vertical-align: middle;
	}

	img {
		width: 6.5vw;
		height: auto;
		display: inline-block;
		vertical-align: middle;
		margin-right: 2vw;
	}
}

.contact-explore-type:first-child {
	margin-top: 0;
}

.contact-destination-container {
	//height: 0;
	overflow: hidden;
	//padding: 0;
	padding: 4vw 0 4vw 2vw;
	border-bottom: solid 1px #227AA1;
	font-size: 3vw;

	p {
		padding-bottom: 6vw;
		color: #FFF;
	}

	p:last-child {
		padding-bottom: 0;
	}
}

.contact-destination-container:last-child {
	margin-bottom: 6vw;
}

.contact-destination-container.expand {
	height: initial;
	padding: 1.5em 0;
}

#contact-map {
	display: none;
}

#contact-follow {
	color: #FFF;
	background-color: #227AA1;
	padding: 6vw 12vw;
	font-size: 5vw;

	h2 {
		font-size: 1.5em;
		font-style: italic;
		line-height: 1.35em;
	}

	strong {
		font-size: 1.5em;
		font-weight: 600;
		line-height: 1.75em;
	}
}

#contact-join {
	padding: 1.5em 2em;
	color: #A0A0A0;

	h2 {
		font-size: 1.5em;
		color: #00DAF2;
		padding-bottom: 0.5em;
	}

	h3 {
		font-size: 1.35em;
		line-height: 1.75em;
	}

	p {
		padding-bottom: 1.5em;
	}

	a {
		padding-bottom: 1.5em;
		text-decoration: underline;
		color: #A0A0A0;
	}
}

@include size-gt($width-m-1, $height-m-1) {
	.contact-page {
		height: 100%;
	}

	#contact-explore {
		width: calc(100% / 3);
		height: 100%;
		float: left;
	}

	#contact-locations {
		overflow-y: scroll;
	}

	#contact-map {
		display: initial;
		width: calc(100% / 3 * 2);
		height: 70%;
		float: left;
		background-color: #EEE;
	}

	#contact-follow,
	#contact-join {
		@include box-sizing;
		padding: 1em;
		width: calc(100% / 3);
		height: 30%;
		float: left;
	}

	#contact-follow {
		display: flex;
		text-align: center;
		padding: 0;
	}

	#contact-followWrapper {
		align-self: center;
		margin: auto;
	}
}


/*




@include size-gt($width-m-1, $height-m-1) {

/*
	#contact-explore-container {
		position: absolute;
		top: 6em;
		left: 2em;
		right: 2em;
		bottom: 0;
	}*/

	/*

	.contact-destination-container {
		height: initial;
		padding: 1.5em 0;
	}


}
*/
