#header-view {
	position: relative;
	z-index: 160;
}

#header-content {
	width: 100%;
	position: fixed;
	overflow: hidden;
	pointer-events: none;
}

.header-button {
	width: 16vw;
	height: 16vw;
	float: right;
	background-color: #00DAF2;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	pointer-events: auto;
	z-index: 160;
}

#header-button-menu,
#header-button-tickets {
	span {
		display: none;
	}
}

#header-button-menu {
	background-image: url("/img/icon-menu.png");
}

#header-button-tickets {
	background-image: url("/img/icon-ticket.png");
	background-color: #FFA41F;
}

.header-button-popping {
	color: rgba(#FFF, 0);
}

.header-button-social {
	display: none;
}



/*@include landscape {
	.header-button {
		width: 12vw;
		height: 12vw;
	}
}*/

@include desktop {
	.header-button {
		width: 6vmin;
		height: 4vmin;
		clear: both;
		margin: 0 0 .5vmin;
		line-height: 4vmin;
		font-size: 1.5vmin;
	}

	#header-button-menu,
	#header-button-tickets {
		span {
			display: initial;
		}
	}

	#header-button-menu {
		margin-top: 4vmin;
	}

	.header-button-popping {
		width: 12vmin;
		transform: translateX(50%);
		transition: 0.2s ease-in-out;
		background-position: 15% center;
		background-size: 25%;

		&:hover {
			transform: translateX(0);
			color: rgba(#FFF, 1);
		}

		span {
			margin-left: 45%
		}
	}

	.header-button-social {
		display: initial;
		margin-bottom: 0;
		text-align: center;
		font-size: 2vmin;

		a {
			width: 100%;
			color: white;
		}
	}
}

/*
@include size-gt($width-m-1, $height-m-1) {
	.header-button {
		width: 5em;
		height: 3em;
		max-width: initial;
		max-height: initial;
		clear: both;
		margin: 0 0 .2em;
		background-size: 2em;
		line-height: 3em;
	}
}
*/
