.home-page {
	width: 100%;
}

#home-top {
	@include box-sizing;
	height: 44em;
	position: relative;
	background-color: #F44;
}

.home-top-stretch {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#home-top-title-table {
	display: table;
}

#home-top-title-cell {
	display: table-cell;
	vertical-align: bottom;
}

#home-title-container {
	position: relative;
	padding: 0 4em;
	color: #FFF;
	z-index: 150;

	h1 {
		font-size: 2.65em;
		font-weight: 600;
		line-height: 1.25em;
	}

	.light {
		font-weight: 300;
		line-height: 1.5em;
		font-size: 1.1em;
	}
}

#home-title-schedule {
	padding: 0.75em 1.5em;
	border: 0.25em #FFF solid;
	display: inline-block;
	font-size: 2em;
	margin: 3.5em 0 1.3em;

	&:hover {
		color: #00EEFA;
		background-color: #FFF;
		box-shadow: 5px 5px 8px rgba(#000, 0.15);
	}
}

#home-top-navigation {
	display: none;
}

.home-split {
	@include box-sizing;
}

#home-blog {
	height: 34em;
	background-color: #0395BA;
	padding: 4em;

	h2 {
		font-size: 3.25em;
		margin-bottom: 0.2em;
		color: #FFF;
	}

	h3 {
		font-size: 2em;
		margin-bottom: 0.8em;
		font-weight: 300;
		font-style: italic;
		color: #00d9f2;
	}
}

#home-blog-text {
	margin-bottom: 9.5vw;
	padding-right: 15vw;

	p {
		font-size: 1.35em;
		line-height: 1.5em;
		color: #FFF;
	}

	p {
		font-size: 0.65em;
		padding-bottom: 10vmin;
		line-height: 1.3em;
	}
}

#home-blog-read {
	border-radius: 2px;
	background-color: #FFF;
	display: inline-block;
	padding: 1em 2em;
	font-size: 1.25em;
	color: #00d8f1;
}

#home-video {
	height: 22em;
	background-image: url("../img/photo-video.png");
	background-position: center;
	background-size: cover;
}

#home-video-play {
	width: 100%;
	height: 100%;
	display: inline-block;
	background-image: url("../img/btn-playVideo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 18%;
}

#home-twitter {
	height: 36em;
	padding: 4em;

	h2 {
		font-size: 2.5em;
		line-height: 1.4em;
		color: #575757;
		margin-bottom: 0.5em;
		font-weight: 300;
	}

	a {
		color: #00DAF2;
		text-decoration: none;
	}
}

@include desktop {
	#home-top {
		height: 60vh;
	}

	#home-top-title-cell {
		vertical-align: middle;
	}

	#home-title-container {
		width: 42em;
		margin: auto;
		padding: 7em 0 5em;
	}

	#home-title-schedule {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 1.1em;
		padding: 0.75em 1.5em;
		border: 0.25em #FFF solid;
		margin: 0;
	}

	#home-top-navigation {
		display: initial;
		z-index: 150;
		position: absolute;
		left: 0;
		bottom: 0;
		color: #FFF;
		padding: 1.5em 2em;
		width: 9em;

		img {
			width: 100%;
			height: auto;
			margin-bottom: 1em;
		}

		p {
			font-size: 0.6em;
		}
	}

	#home-bottom {
		height: 40vh;
	}

	.home-split {
		width: 33%;
		width: calc(100% / 3);
		height: 100%;
		display: inline-block;
		vertical-align: top;
		margin-left: -4px;
	}

	.home-split:first-child {
		margin-left: 0;
	}

	#home-blog {
		height: 100%;
		padding: 2.25em 2.25em 0;

		h2 {
			font-size: 1.85em;
			margin-bottom: 0.2em;
		}

		h3 {
			font-size: 1.4em;
		}
	}

	#home-blog-text {
		margin-bottom: 1.5em;
		padding-right: 1em;

		p {
			font-size: 0.9em;
			line-height: 1.4em;
		}
	}

	#home-blog-read {
		font-size: 1em;
		padding: 0.75em 1.25em;
		border-radius: 4px;
	}

	#home-video {
		height: 100%;
	}

	#home-video-play {
		background-size: 25%;
	}

	#home-twitter {
		height: 100%;
		padding: 2.25em 2.25em 0;

		h2 {
			font-size: 1.5em;
		}
	}
}
