.home-page {
	width: 100%;
}

#home-top {
	@include box-sizing;
	height: 88.5vw;
	position: relative;
	background-color: #F44;
}

.home-top-stretch {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#home-top-title-table {
	display: table;
}

#home-top-title-cell {
	display: table-cell;
	vertical-align: bottom;
}

#home-title-container {
	padding: 0 7vw;
	font-size: 5.25vw;
	z-index: 150;
	color: #FFF;

	h1 {
		font-weight: 600;
		line-height: 1.25em;
	}

	.light {
		font-weight: 300;
		line-height: 1.5em;
		font-size: 1.2em;
	}
}

#home-title-schedule {
	padding: 2vw 4vw;
	border: 0.75vw #FFF solid;
	display: inline-block;
	font-size: 0.7em;
	margin: 14vw 0 6vw;

	&:hover {
		color: #00EEFA;
		background-color: #FFF;
		box-shadow: 5px 5px 8px rgba(#000, 0.15);
	}
}

#home-top-navigation {
	display: none;
}

.home-split {
	@include box-sizing;
	font-size: 4vw;
}

#home-blog {
	height: 68vw;
	background-color: #0395BA;
	padding: 8vw 7vw 0;

	h2 {
		margin-bottom: 0.4em;
		font-size: 1.5em;
		color: #FFF;
	}

	h3 {
		margin-bottom: 0.8em;
		font-weight: 300;
		font-style: italic;
		color: #00d9f2;
	}
}

#home-blog-text {
	margin-bottom: 9.5vw;
	padding-right: 15vw;

	p {
		font-size: 0.7em;
		line-height: 1.5em;
		color: #FFF;
	}
}

#home-blog-read {
	border-radius: 2px;
	background-color: #FFF;
	display: inline-block;
	padding: 2vw 4vw;
	font-size: 0.8em;
	color: #00d8f1;
}

#home-video {
	height: 43vw;
	background-image: url("../img/photo-video.png");
	background-position: center;
	background-size: cover;
}

#home-video-play {
	width: 100%;
	height: 100%;
	display: inline-block;
	background-image: url("../img/btn-playVideo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 18%;
}

#home-twitter {
	height: 70vw;
	padding: 8vw 7vw 0;

	h2 {
		font-size: 1.3em;
		line-height: 1.4em;
		color: #575757;
		margin-bottom: 0.5em;
		font-weight: 300;
	}

	a {
		color: #00DAF2;
		text-decoration: none;
	}
}

@include desktop {
	#home-top {
		height: 60vh;
	}

	#home-top-title-cell {
		vertical-align: middle;
	}

	#home-title-container {
		width: 80vmin;
		margin: auto;
		padding: 12vmin 4vmin 12vmin 5vmin;
		font-size: 5vmin;
		position: relative;
	}

	#home-title-schedule {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 0.45em;
		padding: 2vmin 4vmin;
		border: 0.75vmin #FFF solid;
		margin: 0;
	}

	#home-top-navigation {
		display: initial;
		z-index: 150;
		position: absolute;
		left: 0;
		bottom: 0;
		color: #FFF;
		padding: 2.5vmin 4vmin;
		width: 20vmin;
		font-size: 1.5vmin;

		img {
			width: 100%;
			height: auto;
			margin-bottom: 1vmin;
		}
	}

	#home-bottom {
		height: 40vh;
	}

	.home-split {
		width: 33%;
		width: calc(100% / 3);
		height: 100%;
		display: inline-block;
		vertical-align: top;
		margin-left: -4px;
		font-size: 2.5vmin;
	}

	.home-split:first-child {
		margin-left: 0;
	}

	#home-blog {
		height: 100%;
		padding: 4vmin 5vmin 0;

		h2 {
			margin-bottom: 0.2em;
		}
	}

	#home-blog-text {
		margin-bottom: 2.5vmin;
		padding-right: 5vmin;

		p {
			line-height: 1.4em;
		}
	}

	#home-blog-read {
		padding: 1.25vmin 2.5vmin;
		border-radius: 4px;
	}

	#home-video {
		height: 100%;
	}

	#home-video-play {
		background-size: 25%;
	}

	#home-twitter {
		height: 100%;
		padding: 4vmin 5vmin 0;
	}
}
