#menu-view {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00D9F2;
	z-index: 160;
	overflow-y: scroll;
	pointer-events: auto;
}

#menu-close {
	width: 5em;
	height: 5em;
	position: absolute;
	top: 1.5em;
	right: 2em;
	z-index: 180;
	background-image: url("/img/btn-closeMenu.png");
	background-size: 3em;
	background-position: center;
	background-repeat: no-repeat;
	pointer-events: initial;
}

#menu-table {
	width: 100%;
	height: 100vmax;
	display: table;
	overflow-y: scroll;
	z-index: 170;
	position: relative;
}

.menu-table-row {
	width: 100%;
	display: table-row;
}

.menu-table-cell {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

#menu-itemContainer {
	width: 42.5em;
	position: relative;
	z-index: 160;
	margin: auto;
	color: $color-white;
	text-align: center;
	padding-top: 10em;
}

.menu-menuItem {
	border-bottom: 1px $color-white solid;
	margin-bottom: 1.75em;
	padding-bottom: 1.75em;
	font-weight: 300;

	span {
		font-size: 3.5em;
	}
	
	&:last-child {
		border-bottom: none;
	}
}

#menu-socialCell {
	height: 10%;
}

#menu-socialLinks {
	@include box-sizing;
	width: 16em;
	height: 10em;
	z-index: 170;
	margin: auto;

	a {
		color: $color-white;
		padding: 0.5em;
		font-size: 2em;
	}
}

#menu-decoration {
	width: 100%;
	height: 5px;
	background-color: #ffa41f;
	z-index: 200;
}

@include desktop {
	#menu-view {
		background-color: rgba(#00D9F2, 0.9);
		overflow-y: auto;
	}

	#menu-close {
		width: 4em;
		height: 4em;
		top: 0.75em;
		right: 1.5em;
		background-size: 2em;
	}

	#menu-table {
		height: 100%;
	}

	#menu-itemContainer {
		width: 40em;
		padding-top: 6em;
	}

	.menu-menuItem {
		border-bottom: none;
		margin-bottom: 1.5em;
		padding-bottom: 0.5em;

		span {
			font-size: 2.5em;
		}

		span:hover {
			border-bottom: 1px $color-white solid;
		}
	}
}
