.profiles-page {
	@include box-sizing;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #00DAF2;
}

.profiles-split {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.profiles-grid {
	overflow-x: hidden;
	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.profiles-tile {
	width: calc(100%/3);
	height: calc(100vw/3);
	float: left;
	background-size: cover;
	background-position: center;
	cursor: pointer;
	transition: background 0.3s;
	background-color: rgba(0,191,223, 0);
	background-blend-mode: screen;
}

.profiles-tile-selected {
	background-color: rgb(0,191,223);
	background-blend-mode: screen;
}

.no-touch .profiles-tile:hover {
	background-color: rgb(0,191,223);
	background-blend-mode: screen;
}

#profiles-quote {
	display: none;
}

.profiles-selection {
	position: absolute;
	top: 0;
	background-color: $color-light-blue;
	transition: left 0.3s ease-in-out;
	overflow-y: hidden;
}

.profiles-hidden {
	left: 100%;
}
.profiles-selected-link{
	cursor: pointer;
}
.profiles-shown {
	left: 0;
	display: block;
}

.profiles-selection-none {
	display: none;
}

#profiles-selection-show {
	height: 100%;
	background-color: $color-white;
}

.profiles-selected-photo {
	height: 50%;
	position: relative;
	display: block;
	background-size: cover;
	background-position: center;
}

#profiles-selected-name {
	position: absolute;
	left: 3.5em;
	bottom: 2em;
	font-weight: 300;
	//text-shadow: 0px 0px 5px rgba(0,0,0, 0.9);
	color: $color-white;

	.name {
		font-size: 3.5em;
	}

	.title {
		font-size: 2.25em;
		font-style: italic;
		white-space: nowrap;
	}
	.link{
		font-size: 1.2em;
	}
}
.title-background{
	color: $color-light-blue !important;
	padding: 0px 14px 7px 7px;
	margin-right: 30px;
}

.profiles-selected-details {
	padding: 1.75em 3.5em;
	overflow-y: scroll;
	background-color: $color-white;
	height: 50%;
}

.profiles-selected-bio {
	margin-bottom: 1em;
	font-size: 1.95em;
	line-height: 1.95em;
	background-color: $color-white;
}

.profiles-selected-contact {
	color: #999e9f;
	overflow: hidden;
	padding: 1.75em 0;
	background-color: $color-white;
	p {
		g-top: 2px solid $color-light-blue;
		padding-top: 1em;
		font-size: 1.5em;
		margin-bottom: 1.25em;
	}

	strong {
		font-weight: 600;
	}
}

.profiles-selected-social {
	font-size: 1.5em;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	text-align: center;
	margin-right: 0.8em;
	border: 0.25em solid #0077a1;
	border-radius: 50%;
	display: inline-block;

	i {
		color: #0077a1;
	}
}

.profiles-selected-return {
	@include box-sizing;
	height: 8em;
	line-height: 8em;
    margin-bottom: 3em;
	background-color: #00DAF2;
	color: $color-white;

	p {
		font-size: 2.5em;
        text-align: center;
	}
}

@include desktop {
	.profiles-page {
		padding-top: 0;
        padding-bottom: 0;
	}

	.profiles-split {
		width: 50%;
		height: 100%;
	}

	.profiles-grid {
		float: right;
	}

	.profiles-tile {
		width: calc(100%/4);
		height: calc(50vw/4);
		float: left;
		background-size: cover;
		background-position: center;
		cursor: pointer;
	}

	#profiles-quote {
		width: 50%;
		height: 12.5vw;
		display: initial;
		background-color: #FF8000;
		box-sizing: border-box;
		float: left;
		padding: 1em;
		font-size: 1.25vw;
		font-weight: 300;
		line-height: 1.25em;
		color: $color-white;
	}

	#profiles-quoteAuthor {
		margin-top: 1em;
		font-weight: 600;
	}

	.profiles-selection {
		left: 0;
	}

	.profiles-selection-none {
		position: relative;
		display: block;
		background-size: cover;

		height: 100%;

		h1 {
			position: absolute;
			left: 0;
			bottom: 0;
			margin: 1em;
			color: $color-white;
			font-size: 2.5em;
			line-height: 1.5em;
			font-weight: 300;
			padding-bottom: 1em;
			border-bottom: 2px $color-white solid;
		}
	}

	.profiles-selection-speakers {
	  background-image: url("../img/profiles/speakers.jpg");
	  background-position: top right;
	}

	.profiles-selection-partners {
	  background-image: url("../img/profiles/partners.jpg");
	  background-position: bottom right;
	}

	.profiles-selection-volunteers {
	  background-image: url("../img/profiles/volunteers.jpg");
	  background-position: top right;
	}

    .profiles-grid-partners {
        width: 45.5%;
        padding-right: 4.5%;
        background-color: white;
    }

	.profiles-selected-return {
		display: none;
	}

	#profiles-selected-name {
		position: absolute;
		left: 2.25em;
		bottom: 1em;
		font-weight: 300;
		color: $color-white;

		.name {
			font-size: 2.5em;
		}

		.title {
			font-size: 1.65em;
			font-style: italic;
		}
		.link{
			font-size: 1.2em;
		}
	}

	.profiles-selected-photo {
	}

	.profiles-selected-details {
		padding: 1.25em 2.25em 3em 2.25em;
	}

	.profiles-selected-bio {
		font-size: 1em;
		line-height: 1.5em;
	}

	.profiles-selected-contact {
		padding: 1.25em 0 3em 0;
		p {
			border-top: 1px solid $color-light-blue;
			font-size: 1em;
		}
	}

	.profiles-selected-social {
		border-width: 0.2em;
		font-size: 1em;
	}
}
