#schedule-header {
	background-color: #00e9f8;

	h1 {
		font-weight: 300;
		color: #FFF;
	}
}

#schedule-sidebar {
	background-color: #FFF;

	.table-cell {
		@include box-sizing;
	}
}

.schedule-btn-date {
	text-align: center;
	border: solid 0.5em #00e9f8;
	color: #00e9f8;
}

.selected {
	@extend .schedule-btn-date;
	background-color: #00e9f8;
	color: #FFF;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.no-touch .schedule-btn-date:hover {
	background-color: #00e9f8;
	color: #FFF;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#schedule-tags {
	p, .tag {
		margin-bottom: 0.5em;
	}
}

.schedule-conference {
	color: #7a7a7a;
	cursor: pointer;
}

.conference-overview {
	position: relative;
}

.conference-content {
	transition: all 0.3s ease-in-out;
}

.conference-tag {
	position: absolute;
	top: 0.25em;
	right: 3em;
}

.conference-toggle {
	width: 1em;
	height: 1em;
	position: absolute;
	top: 0;
	right: 1em;
	background-image: url("../img/btn-toggleConference.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 65%;
	transition: all 0.3s ease-in-out;
}

.conference-collapsed {
	.conference-toggle {
		-webkit-transform: rotate(0);
	    -moz-transform: rotate(0);
	    -ms-transform: rotate(0);
	    -o-transform: rotate(0);
	    transform: rotate(0);
	}
}

.conference-expanded {
	.conference-toggle {
		-webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    transform: rotate(45deg);
	}
}

@include desktop {
	#schedule-view {
		height: 100vh;
		background-color: #EEE;
	}

	#schedule-header {
		position: relative;
		height: 15%;

		h1 {
			position: absolute;
			top: 40%;
			left: 18%;
			font-size: 2em;
		}
	}

	#schedule-sidebar {
		width: 24%;
		height: 85%;
		font-size: 2vw;
		float: left;

		.table-cell {
			padding: 1em;
		}
	}

	.schedule-btn-date {
		height: 1.75em;
		line-height: 1.75em;
		border-width: 0.15em;
		margin-bottom: 0.5em;

		span {
			font-size: 0.75em;
		}
	}

	#schedule-tags {
		font-size: 0.75em;
	}

	#schedule-content-wrapper {
		@include box-sizing;
		width: 76%;
		height: 85%;
		overflow-x: hidden;
		overflow-y: scroll;
		padding: 3em 5em 0em 3em;
		float: right;
	}

	#schedule-content {
	}

	.schedule-conference {
		overflow-y: hidden;
		margin-bottom: 2em;
		padding-bottom: 1.5em;
		border-bottom: 1px solid #FFF;
	}

	.schedule-conference:last-child {
		border: none;
	}

	.conference-content {
		overflow-y: hidden;
	}

	// TODO find solution for this - can't animate height from '6.5em' to 'auto'
	.conference-expanded {
		max-height: 15em;
	}

	.conference-collapsed {
		max-height: 6.5em;
	}

	.conference-overview {
		height: 6.5em;
	}

	.conference-overview {

		img {
			width: auto;
			height: 100%;
			float: left;
			margin-right: 1em;
		}

		h2 {
			font-size: 1.75em;
			margin-bottom: 0.25em;
		}

		h3 {
			font-size: 1.5em;
			margin-bottom: 0.1em;
		}

		h4 {
			color: #00e9f8;
			font-style: italic;
			font-size: 1.25em;
			margin-bottom: 0.4em;
		}

		p {
			font-size: 0.8em;
		}
	}

	.conference-toggle {
		width: 2em;
		height: 2em;
	}

	.conference-details {
		padding-top: 1em;
		line-height: 1.5em;
	}
}
