#tickets-top-photo {
	height: 76.5vw;
	position: relative;
	background-image: url("../img/photo-tickets-quote.jpg");
	background-size: cover;
	background-position: center;
}

#tickets-top-gradient {
	@include box-sizing;
	width: 100%;
	height: 35.5vw;
	position: absolute;
	left: 0;
	bottom: 0;
	background: linear-gradient(rgba(35, 178, 208, 0), #23b2d0 60%);
	padding: 16.5vw 17.25vw 0 7.25vw;
}

#tickets-quote {
	display: none;
}

.tickets-title {
	font-size: 6.25vw;
	color: #FFF;

	h2 {
		line-height: 1.25em;
		font-style: italic;
		font-weight: 300;
	}
}

#tickets-contents {
	display: none;
}

#tickets-top-features {
	width: 100%;
	height: 89vw;
	background-color: #00DAF2;
}

.tickets-table {
	width: 100%;
	height: 100%;
	display: table;
}

.tickets-table-row {
	display: table-row;
}

.tickets-table-cell {
	display: table-cell;
}

.tickets-top-feature {
	@include box-sizing;
	padding: 0 7.5vw;
	vertical-align: middle;
	font-size: 4vw;

	img {
		width: auto;
		height: 15.5vw;
		float: left;
		margin: 1.25vw 6vw 0 1vw;
	}

	p {
		margin-top: 2.5vw;
		color: #FFF;
	}
}

#tickets-sale {
	@include box-sizing;
	height: 52.5vw;
	background-color: #EFEFEF;
	color: #454545;
	font-size: 4vw;
	padding: 6vw 12vw;

	h2 {
		font-size: 1.6em;
		font-weight: 300;
		line-height: 1.25em;
		margin-bottom: 4vw;
	}

	p {
		font-size: 0.75em;
		line-height: 1.5em;
	}
}

#tickets-eventbrite {
	@include box-sizing;
	height: 41vw;
	padding: 6vw 12vw;
	background-color: #FF8000;
	color: #FFF;
	font-size: 4vw;

	h1 {
		font-size: 1.3em;
		font-weight: 600;
		line-height: 1.25em;
	}

	img {
		width: auto;
		height: 40%;
		margin-top: 5vw;
	}
}

#tickets-information {
	@include box-sizing;
	width: 100%;
	height: 57.5vw;
	padding: 6.5vw;
}

#tickets-info-button {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	border: #D9DFE1 1vw solid;
	color: #D9DFE1;
	font-weight: 600;
	font-size: 4vw;

	&:hover {
		background-color: #D9DFE1;
		color: #FFF;

		#tickets-info-image {
			background-image: url("/img/icon-info-hover.png");
		}
	}
}

#tickets-info-image {
	width: 16vw;
	height: 16vw;
	margin: 0 auto 2vw;
	background-image: url("/img/icon-info-normal.png");
	background-size: cover;
	background-position: center;
}

@include desktop {
	#tickets-view {
		height: 100vh;
	}

	#tickets-top {
		height: 70%;
	}

	#tickets-bottom {
		height: 30%;
		position: relative;
	}

	#tickets-top-photo {
		position: relative;
		width: 74%;
		height: 100%;
		float: right;
	}

	#tickets-top-gradient {
		display: none;
	}

	#tickets-quote {
		position: absolute;
		display: block;
		width: 33vmin;
		height: 20vmin;
		left: 57%;
		top: 20%;
		font-size: 2vmin;
		line-height: 1.3em;
		color: #FFF;
	}

	#tickets-quote-author {
		color: #00DAF2;
		margin-top: 0.75em;
	}

	#tickets-contents {
		display: initial;
		width: 100%;
		height: 50%;
	}

	#tickets-contents-cell {
		padding: 16.5vmin 0 0 3vmin;
	}

	.tickets-title {
		font-size: 2vmin;

		h2 {
			line-height: 1.25em;
			font-style: italic;
			font-weight: 300;
		}
	}

	#tickets-top-features {
		width: 26%;
		height: 100%;
		float: left;
	}

	.tickets-top-feature {
		padding: 0 2.5vmin;
		font-size: 2vmin;

		img {
			height: 10vmin;
			margin: 0.5vmin 3vmin 0 1vmin;
		}

		p {
			margin-top: 2.5vmin;
			line-height: 1.35em;
			color: #FFF;
		}
	}

	.tickets-extra-padding {
		padding-bottom: 5vmin;
	}

	#tickets-information,
	#tickets-sale,
	#tickets-eventbrite {
		position: absolute;
		top: 0;
		height: 100%;
		font-size: 2vmin;
	}

	#tickets-information {
		width: 26%;
		padding: 3.5vmin;
		left: 0;
	}

	#tickets-info-button {
		font-size: 2.5vmin;
		border: #D9DFE1 0.5vmin solid;
	}

	#tickets-info-image {
		width: 8vmin;
		height: 8vmin;
		margin: 0 auto 2vmin;
	}

	#tickets-sale {
		width: 43%;
		left: 26%;
		padding: 6vmin 2.5vmin 0 5vmin;

		h2 {
			margin-bottom: 2vmin;
		}

		p {
			font-size: 0.85em;
			line-height: 1.5em;
		}
	}

	#tickets-eventbrite {
		width: 31%;
		right: 0;
		color: #237EA4;
		background-color: #EFEFEF;
		padding: 6vmin 2.5vmin 0;
		font-size: 2.2vmin;

		img {
			width: 24vmin;
			height: auto;
			margin-top: 2vmin;
		}
	}
}

@include ratio-tall {
	.tickets-top-feature {
		img {
			height: 5vmin;
		}
	}
}
