#tickets-top-photo {
	height: 76.5vw;
	position: relative;
	background-image: url("../img/photo-tickets-quote.jpg");
	background-size: cover;
	background-position: center;
}

#tickets-top-gradient {
	@include box-sizing;
	width: 100%;
	height: 35.5vw;
	position: absolute;
	left: 0;
	bottom: 0;
	background: linear-gradient(rgba(35, 178, 208, 0), #23b2d0 60%);
	padding: 16.5vw 17.25vw 0 7.25vw;
}

#tickets-quote {
	display: none;
}

.tickets-title {
	font-size: 6.25vw;
	color: #FFF;

	h2 {
		line-height: 1.25em;
		font-style: italic;
		font-weight: 300;
	}
}

#tickets-contents {
	display: none;
}

#tickets-top-features {
	width: 100%;
	height: 89vw;
	background-color: #00DAF2;
}

.tickets-table {
	width: 100%;
	height: 100%;
	display: table;
}

.tickets-table-row {
	display: table-row;
}

.tickets-table-cell {
	display: table-cell;
}

.tickets-top-feature {
	@include box-sizing;
	padding: 0 7.5vw;
	vertical-align: middle;
	font-size: 4vw;

	img {
		width: auto;
		height: 15.5vw;
		float: left;
		margin: 1.25vw 6vw 0 1vw;
	}

	p {
		margin-top: 2.5vw;
		color: #FFF;
	}
}

#tickets-sale {
	@include box-sizing;
	height: 52.5vw;
	background-color: #EFEFEF;
	color: #454545;
	font-size: 4vw;
	padding: 6vw 12vw;

	h2 {
		font-size: 1.6em;
		font-weight: 300;
		line-height: 1.25em;
		margin-bottom: 4vw;
	}

	p {
		font-size: 0.75em;
		line-height: 1.5em;
	}
}

#tickets-eventbrite {
	@include box-sizing;
	height: 41vw;
	padding: 6vw 12vw;
	background-color: #FF8000;
	color: #FFF;
	font-size: 4vw;

	h1 {
		font-size: 1.3em;
		font-weight: 600;
		line-height: 1.25em;
	}

	img {
		width: auto;
		height: 40%;
		margin-top: 5vw;
	}
}

#tickets-information {
	@include box-sizing;
	width: 100%;
	height: 57.5vw;
	padding: 6.5vw;
}

#tickets-info-button {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	border: #D9DFE1 1vw solid;
	color: #D9DFE1;
	font-weight: 600;
	font-size: 4vw;

	&:hover {
		background-color: #D9DFE1;
		color: #FFF;

		#tickets-info-image {
			background-image: url("/img/icon-info-hover.png");
		}
	}
}

#tickets-info-image {
	width: 16vw;
	height: 16vw;
	margin: 0 auto 2vw;
	background-image: url("/img/icon-info-normal.png");
	background-size: cover;
	background-position: center;
}

@include desktop {
	#tickets-view {
		height: 100vh;
	}

	#tickets-top {
		height: 70%;
	}

	#tickets-bottom {
		height: 30%;
		position: relative;
	}

	#tickets-top-photo {
		position: relative;
		width: 74%;
		height: 100%;
		float: right;
	}

	#tickets-top-gradient {
		display: none;
	}

	#tickets-quote {
		position: absolute;
		display: block;
		width: 33vmin;
		height: 20vmin;
		left: 57%;
		top: 20%;
		font-size: 2vmin;
		line-height: 1.3em;
		color: #FFF;
	}

	#tickets-quote-author {
		color: #00DAF2;
		margin-top: 0.75em;
	}

	#tickets-contents {
		display: initial;
		width: 100%;
		height: 50%;
	}

	#tickets-contents-cell {
		padding: 16.5vmin 0 0 3vmin;
	}

	.tickets-title {
		font-size: 2vmin;

		h2 {
			line-height: 1.25em;
			font-style: italic;
			font-weight: 300;
		}
	}

	#tickets-top-features {
		width: 26%;
		height: 100%;
		float: left;
	}

	.tickets-top-feature {
		padding: 0 2.5vmin;
		font-size: 2vmin;

		img {
			height: 10vmin;
			margin: 0.5vmin 3vmin 0 1vmin;
		}

		p {
			margin-top: 2.5vmin;
			line-height: 1.35em;
			color: #FFF;
		}
	}

	.tickets-extra-padding {
		padding-bottom: 5vmin;
	}

	#tickets-information,
	#tickets-sale,
	#tickets-eventbrite {
		position: absolute;
		top: 0;
		height: 100%;
		font-size: 2vmin;
	}

	#tickets-information {
		width: 26%;
		padding: 3.5vmin;
		left: 0;
	}

	#tickets-info-button {
		font-size: 2.5vmin;
		border: #D9DFE1 0.5vmin solid;
	}

	#tickets-info-image {
		width: 8vmin;
		height: 8vmin;
		margin: 0 auto 2vmin;
	}

	#tickets-sale {
		width: 43%;
		left: 26%;
		padding: 6vmin 2.5vmin 0 5vmin;

		h2 {
			margin-bottom: 2vmin;
		}

		p {
			font-size: 0.85em;
			line-height: 1.5em;
		}
	}

	#tickets-eventbrite {
		width: 31%;
		right: 0;
		color: #237EA4;
		background-color: #EFEFEF;
		padding: 6vmin 2.5vmin 0;
		font-size: 2.2vmin;

		img {
			width: 24vmin;
			height: auto;
			margin-top: 2vmin;
		}
	}
}




/*
#tickets-content-top {
	position: relative;
	height: 66em;
	background-color: #00DAF2;
}

#tickets-photo {
	position: relative;
	height: 30em;
	background-image: url("../img/photo-tickets-quote.jpg");
	background-size: cover;
	background-position: center;
}

#tickets-quote {
	display: none;
}

#tickets-features {
	position: absolute;
	bottom: 0;
	width: 100vw;
}

.tickets-feature-item {
	height: 12em;
	font-weight: 300;
	color: #FFF;

	img {
		width: auto;
		height: 100%;
		margin-right: 1em;
	}

	p {
		align-self: center;
		float: left;
		font-size: 1.25em;
	}
}

.ticket-feature-background {
	background: linear-gradient(rgba(#23b2d0, 0), rgba(#23b2d0, .85));
}

.ticket-feature-wrapper {
	width: 90%;
	height: 100%;
	display: flex;
	padding: 0 5%;
}

.ticket-image-wrapper {
	height: 50%;
	align-self: center;
}

#ticket-feature-title {
	padding-top: 1em;
	font-size: 3em;
	font-style: italic;
}

#tickets-content-bottom {
	overflow: hidden;

	h1, h2 {
		font-size: 1.5em;
		line-height: 1.2em;
		margin-bottom: 1em;
	}

	p {
		font-size: 1.15em;
		line-height: 1.05em;
	}
}

#tickets-sale {
	height: 38em;
	background-color: #EFEFEF;
	color: #454545;
	overflow: hidden;
}

#tickets-sale-wrapper {
	height: 15em;
	padding: 1.5em;
}

#tickets-sale-eventbrite {
	height: 21em;
	background-color: #FF8000;
	color: #FFF;
	padding: 1.5em;

	img {
		width: 15em;
		height: auto;
		margin-top: 1em;
	}
}

#tickets-info {
	width: 100%;
	height: 30em;
	display: flex;
}

#tickets-info-button {
	width: 70%;
	height: 70%;
	margin: auto;
	align-self: center;
	border: #D9DFE1 .25em solid;
	color: #D9DFE1;
	text-align: center;
	padding: 5%;

	&:hover {
		background-color: #D9DFE1;
		color: #FFF;

		#tickets-info-image {
			background-image: url("/img/icon-info-hover.png");
		}
	}

	p {
		font-weight: 600;
		font-size: 2.5em;
	}
}

#tickets-info-image {
	width: 8em;
	height: 8em;
	margin: 4em auto 1em;
	background-image: url("/img/icon-info-normal.png");
	background-size: cover;
}

@include size-small($width-small-2) {
	.tickets-feature-item img {
		margin-right: 1.5em;
	}

	.tickets-feature-item p {
		font-size: 1.5em;
	}

	#tickets-content-bottom h1, h2 {
		font-size: 1.65em;
		line-height: 1.3em;
	}

	#tickets-content-bottom p {
		font-size: 1.25em;
		line-height: 1.1em;
	}

	#tickets-sale-eventbrite img {
		width: 17em;
	}
}

@include size-small($width-small-3) {
	.tickets-feature-item img {
		margin-right: 2em;
	}

	.tickets-feature-item p {
		font-size: 1.75em;
	}

	#tickets-content-bottom h1, h2 {
		font-size: 2em;
		line-height: 1.5em;
	}

	#tickets-sale-eventbrite img {
		width: 19em;
	}
}

@include size-medium($width-medium-1) {
	#tickets-view {
		height: 100vh;
	}

	#tickets-content-top {
		height: 60%;
	}

	#tickets-quote {
		position: absolute;
		top: 15%;
		left: 45%;
		width: 12em;
		display: initial;
		color: #FFF;

		p {
			font-size: .9em;
			line-height: 1.3em;
		}
	}

	#tickets-quote-author {
		color: #00DAF2;
		margin-top: .75em;
	}

	#tickets-features {
		width: initial;
		padding-top: 3.5em;
	}

	.tickets-feature-item {
		height: 20%;
	}

	.ticket-feature-background {
		background: none;
	}

	.tickets-feature-item img {
		margin-right: .5em;
	}

	.tickets-feature-item p {
		font-size: .95em;
	}

	#ticket-feature-title {
		padding-top: 1.5em;
		font-size: 1.5em;
	}

	#tickets-content-bottom {
		height: 40%;
	}

	#tickets-content-bottom h1, h2 {
		font-size: 1.65em;
		line-height: 1.3em;
	}

	#tickets-content-bottom p {
		font-size: 1em;
		line-height: 1em;
	}

	#tickets-sale {
		height: 100%;
	}

	#tickets-sale-wrapper {
		display: none;
	}

	#tickets-sale-eventbrite {
		height: 100%;

		img {
			width: 17em;
			margin-top: 0;
		}
	}

	#tickets-info-image {
		width: 5em;
		height: 5em;
		margin-top: 1.75em;
	}

	#tickets-info-button p {
		font-size: 1.5em;
	}

	#tickets-photo,
	#tickets-sale {
		width: 60%;
		height: 100%;
		float: right;
	}

	#tickets-features,
	#tickets-info {
		position: relative;
		width: 40%;
		height: 100%;
	}
}

@include size-medium($width-medium-2) {
	#tickets-features {
		padding-top: 3.75em;
	}

	#tickets-quote {
		left: 50%;
		width: 12em;
	}

	#tickets-photo,
	#tickets-sale {
		width: 65%;
	}

	#tickets-features,
	#tickets-info {
		width: 35%;
	}
}

@include size-medium($width-medium-3) {
	#tickets-features {
		padding-top: 4em;
	}

	#tickets-quote {
		width: 14em;
	}

	#tickets-content-bottom h1, h2 {
		font-size: 1.5em;
		line-height: 1.2em;
	}

	#tickets-sale-wrapper {
		width: 40%;
		padding: 1.5em 5%;
		display: initial;
		float: left;
	}

	#tickets-sale-eventbrite {
		width: 40%;
		padding: 1.5em 5%;
		float: left;
		background-color: #EFEFEF;
		color: #237EA4;
	}

	#tickets-photo,
	#tickets-sale {
		width: 70%;
	}

	#tickets-features,
	#tickets-info {
		width: 30%;
	}
}

@include size-large($width-large-1) {
	#tickets-content-top {
		height: 70%;
	}

	#tickets-quote {
		width: 18em;

		p {
			font-size: 1.3em;
		}
	}


	#tickets-features {
		padding-top: 4.1em;
	}

	#ticket-feature-title {
		padding-top: 1.9em;
		font-size: 1.8em;
	}

	#tickets-content-bottom {
		height: 30%;
	}

	#tickets-photo,
	#tickets-sale {
		width: 74%;
	}

	#tickets-features,
	#tickets-info {
		width: 26%;
	}
}

@include size-large($width-large-2) {
	#tickets-features {
		padding-top: 4.2em;
	}

	.tickets-feature-item img {
		margin-right: .75em;
	}

	.tickets-feature-item p {
		font-size: 1.05em;
	}

	#ticket-feature-title {
		padding-top: 1.8em;
		font-size: 2em;
	}

	#tickets-content-bottom p {
		font-size: 1.1em;
		line-height: 1.1em;
	}

	#tickets-sale-eventbrite img {
		width: 19em;
	}
}

@include size-large($width-large-3) {
	.tickets-feature-item img {
		margin-right: 1.05em;
	}

	.tickets-feature-item p {
		font-size: 1.15em;
	}

	#ticket-feature-title {
		padding-top: 1.7em;
		font-size: 2.2em;
	}

	#tickets-content-bottom p {
		font-size: 1.2em;
		line-height: 1.2em;
	}
}

@include size-xlarge($width-xlarge-1) {
	.tickets-feature-item img {
		margin-right: 1.05em;
	}

	.tickets-feature-item p {
		font-size: 1.25em;
	}

	#tickets-info-image {
		width: 6em;
		height: 6em;
		margin-top: 1em;
	}

	#tickets-info-button p {
		font-size: 2em;
	}
}

@include size-xlarge($width-xlarge-2) {
	.tickets-feature-item img {
		margin-right: 1.1em;
	}

	.tickets-feature-item p {
		font-size: 1.35em;
	}
}

@include size-xlarge($width-xlarge-3) {
	.tickets-feature-item img {
		margin-right: 1.2em;
	}

	#tickets-content-bottom h1, h2 {
		font-size: 2em;
	}
}

@include size-xlarge($width-xlarge-4) {
	.tickets-feature-item img {
		margin-right: 1.3em;
	}

	#tickets-content-bottom h2 {
		font-size: 2.25em;
	}
}
*/
