#tickets-view {
	@include size-medium($width-medium-1) {
		height: 100vh;
	}
}

#tickets-content-top {
	position: relative;
	height: 66em;
	background-color: #00DAF2;
	
	@include size-medium($width-medium-1) {
		height: 60%;
	}
	
	@include size-large($width-large-1) {
		height: 70%;
	}
}

#tickets-photo {
	height: 30em;
	background-image: url("../img/photo-tickets-quote.jpg");
	background-size: cover;
	background-position: center;
}

#tickets-features {
	position: absolute;
	bottom: 0;
	width: 100vw;
	
	@include size-medium($width-medium-1) {
		width: initial;
		padding-top: 3.5em;
	}
	
	@include size-medium($width-medium-2) {
		padding-top: 3.75em;
	}
	
	@include size-medium($width-medium-3) {
		padding-top: 4em;
	}
	
	@include size-large($width-large-1) {
		padding-top: 4.1em;
	}
	
	@include size-large($width-large-2) {
		padding-top: 4.2em;
	}
}

.tickets-feature-item {
	height: 12em;
	font-weight: 300;
	color: #FFF;
	
	@include size-medium($width-medium-1) {
		height: 20%;
	}
	
	.ticket-feature-background {
		background: linear-gradient(rgba(#23b2d0, 0), rgba(#23b2d0, .85));
		
		@include size-medium($width-medium-1) {
			background: none;
		}
	}
	
	.ticket-feature-wrapper {
		width: 90%;
		height: 100%;
		display: flex;
		padding: 0 5%;
	}
	
	.ticket-image-wrapper {
		height: 50%;
		align-self: center;
	}
	
	img {
		width: auto;
		height: 100%;
		margin-right: 1em;
		
		@include size-small($width-small-2) {
			margin-right: 1.5em;
		}
		
		@include size-small($width-small-3) {
			margin-right: 2em;
		}
		
		@include size-medium($width-medium-1) {
			margin-right: 0.5em;
		}
		
		@include size-large($width-large-2) {
			margin-right: 0.75em;
		}
		
		@include size-large($width-large-3) {
			margin-right: 1em;
		}
		
		@include size-xlarge($width-xlarge-1) {
			margin-right: 1.05em;
		}
		
		@include size-xlarge($width-xlarge-2) {
			margin-right: 1.1em;
		}
		
		@include size-xlarge($width-xlarge-3) {
			margin-right: 1.2em;
		}
		
		@include size-xlarge($width-xlarge-4) {
			margin-right: 1.3em;
		}
	}
	
	p {
		align-self: center;
		float: left;
		font-size: 1.25em;
	
		@include size-small($width-small-2) {
			font-size: 1.5em;
		}
		
		@include size-small($width-small-3) {
			font-size: 1.75em;
		}
		
		@include size-medium($width-medium-1) {
			font-size: 0.95em;
		}
		
		@include size-large($width-large-2) {
			font-size: 1.05em;
		}
		
		@include size-large($width-large-3) {
			font-size: 1.15em;
		}
		
		@include size-xlarge($width-xlarge-1) {
			font-size: 1.25em;
		}
		
		@include size-xlarge($width-xlarge-2) {
			font-size: 1.35em;
		}
	}
}

#ticket-feature-title {
	padding-top: 1em;
	font-size: 3em;
	font-style: italic;
	
	@include size-medium($width-medium-1) {
		padding-top: 1.5em;
		font-size: 1.5em;
	}
	
	@include size-large($width-large-1) {
		padding-top: 1.9em;
		font-size: 1.8em;
	}
	
	@include size-large($width-large-2) {
		padding-top: 1.8em;
		font-size: 2em;
	}
	
	@include size-large($width-large-3) {
		padding-top: 1.7em;
		font-size: 2.2em;
	}
}

#tickets-content-bottom {
	overflow: hidden;
	
	@include size-medium($width-medium-1) {
		height: 40%;
	}
	
	@include size-large($width-large-1) {
		height: 30%;
	}
	
	h1, h2 {
		font-size: 1.5em;
		line-height: 1.2em;
		margin-bottom: 1em;
		
		@include size-small($width-small-2) {
			font-size: 1.65em;
			line-height: 1.3em;
		}
		
		@include size-small($width-small-3) {
			font-size: 2em;
			line-height: 1.5em;
		}
		
		@include size-medium($width-medium-1) {
			font-size: 1.65em;
			line-height: 1.3em;
		}
		
		@include size-medium($width-medium-3) {
			font-size: 1.5em;
			line-height: 1.2em;
		}
		
		@include size-xlarge($width-xlarge-3) {
			font-size: 2em;
		}
	}
	
	p {
		font-size: 1.15em;
		line-height: 1.05em;
		
		@include size-small($width-small-2) {
			font-size: 1.25em;
			line-height: 1.1em;
		}
		
		@include size-medium($width-medium-1) {
			font-size: 1em;
			line-height: 1em;
		}
		
		@include size-large($width-large-2) {
			font-size: 1.1em;
			line-height: 1.1em;
		}
		
		@include size-large($width-large-3) {
			font-size: 1.2em;
			line-height: 1.2em;
		}
	}
}

#tickets-sale {
	height: 38em;
	background-color: #EFEFEF;
	color: #454545;
		
	@include size-medium($width-medium-1) {
		height: 100%;
	}
}

#tickets-sale-wrapper {
	height: 15em;
	padding: 1.5em;
		
	@include size-medium($width-medium-1) {
		display: none;
	}
		
	@include size-medium($width-medium-3) {
		width: 40%;
		padding: 1.5em 5%;
		display: initial;
		float: left;
	}
}

#tickets-sale-eventbrite {
	height: 21em;
	background-color: #FF8000;
	color: #FFF;
	padding: 1.5em;
	
	@include size-medium($width-medium-1) {
		height: 100%;
	}
	
	@include size-medium($width-medium-3) {
		width: 40%;
		padding: 1.5em 5%;
		float: left;
		background-color: #EFEFEF;
		color: #237EA4;
	}
	
	img {
		width: 15em;
		height: auto;
		margin-top: 1em;
		
		@include size-small($width-small-2) {
			width: 17em;
		}
		
		@include size-small($width-small-3) {
			width: 19em;
		}
		
		@include size-medium($width-medium-1) {
			width: 17em;
			margin-top: 0;
		}
		
		@include size-large($width-large-2) {
			width: 19em;
		}
	}
}

// Left/right content size

#tickets-photo,
#tickets-sale {
	@include size-medium($width-medium-1) {
		width: 60%;
		height: 100%;
		float: right;
	}
	
	@include size-medium($width-medium-2) {
		width: 65%;
	}
	
	@include size-medium($width-medium-3) {
		width: 70%;
	}
	
	@include size-large($width-large-1) {
		width: 74%;
	}
}

#tickets-features,
#tickets-info {
	@include size-medium($width-medium-1) {
		position: relative;
		width: 40%;
		height: 100%;
	}
	
	@include size-medium($width-medium-2) {
		width: 35%;
	}
	
	@include size-medium($width-medium-3) {
		width: 30%;
	}
	
	@include size-large($width-large-1) {
		width: 26%;
	}
}