#tickets-view {
    overflow: hidden;
}

#tickets-top-photo {
	height: 38em;
	position: relative;
	background-image: url("../img/photo-tickets-quote.jpg");
	background-size: cover;
	background-position: center;
}

#tickets-top-gradient {
	@include box-sizing;
	width: 100%;
	height: 6em;
	position: absolute;
	left: 0;
	bottom: 0;
	background: linear-gradient(rgba(35, 178, 208, 0), #23b2d0 60%);
	padding: 2.5em 5em 0 1.25em;
}

#tickets-quote {
	display: none;
}

.tickets-title {
	font-size: 6.25vw;
	color: $color-white;

	h2 {
		line-height: 1.25em;
		font-style: italic;
		font-weight: 300;
	}
}

#tickets-contents {
	display: none;
}

#tickets-top-features {
	width: 100%;
	height: 44.5em;
	background-color: #00DAF2;
}

.tickets-table {
	width: 100%;
	height: 100%;
	display: table;
}

.tickets-table-row {
	display: table-row;
}

.tickets-table-cell {
	display: table-cell;
}

.tickets-top-feature {
	@include box-sizing;
	padding: 0 2em;
	vertical-align: middle;

	img {
		width: auto;
		height: 8em;
		float: left;
		margin: 0.5em 2em 0 3em;
	}

	p {
		font-size: 2em;
		margin-top: 1em;
		color: $color-white;
	}
}

#tickets-sale {
	@include box-sizing;
	height: 26.5em;
	background-color: #EFEFEF;
	color: #454545;
	padding: 3em 6em;

	h2 {
		font-size: 3em;
		font-weight: 300;
		line-height: 1.25em;
		margin-bottom: 0.75em;
	}

	p {
		font-size: 1.5em;
		line-height: 1.5em;
	}
}

#tickets-eventbrite {
	@include box-sizing;
	height: 20.5em;
	padding: 3em 6em;
	background-color: #FF8000;
	color: $color-white;
	cursor: pointer;
	h1 {
		font-size: 2.5em;
		font-weight: 600;
		line-height: 1.25em;
		margin-bottom: 1em;
	}

	img {
		width: auto;
		height: 40%;
	}
}

#tickets-information {
	@include box-sizing;
	width: 100%;
	height: 28em;
	padding: 3.5em;
    background-color: #00DAF2;
}

#tickets-info-button {
    border-radius: 2px;
	background-color: $color-white;
	display: inline-block;
	padding: 1em 2em;
	font-size: 1.25em;
	color: $color-light-blue;
}

@include desktop {
	#tickets-view {
		height: 100vh;
	}

	#tickets-top {
		height: 70%;
	}

	#tickets-bottom {
		height: 30%;
		position: relative;
	}

	#tickets-top-photo {
		position: relative;
		width: 74%;
		height: 100%;
		float: right;
	}

	#tickets-top-gradient {
		display: none;
	}

	#tickets-quote {
		position: absolute;
		display: block;
		width: 18em;
		height: 15em;
		left: 57%;
		top: 20%;
		color: $color-white;

		p {
			font-size: 1.1em;
			line-height: 1.25em;
		}
	}

	#tickets-quote-author {
		color: #00DAF2;
		margin-top: 0.75em;
	}

	#tickets-contents {
		display: initial;
		width: 100%;
		height: 50%;
	}

	#tickets-contents-cell {
		padding: 1em 0 0 1.5em;
	}

	.tickets-title {
		font-size: 1.75em;

		h2 {
			line-height: 1.25em;
			font-style: italic;
			font-weight: 300;
			padding-bottom: 0;
		}
	}

	#tickets-top-features {
		@include box-sizing;
		width: 26%;
		height: 100%;
		float: left;
		padding-top: 7em;
	}

	.tickets-top-feature {
		padding: 0 1em;
		font-size: 1em;

		img {
			height: 4em;
			margin: 1em 1em 0 1em;
		}

		p {
			font-size: 1em;
			margin-top: 1em;
			line-height: 1.35em;
			color: $color-white;
		}
	}

	.tickets-extra-padding {
		padding-bottom: 5em;
	}

	#tickets-information,
	#tickets-sale,
	#tickets-eventbrite {
		position: absolute;
		top: 0;
		height: 100%;
		font-size: 1em;
	}

	#tickets-information {
		width: 26%;
		padding: 1.5em;
		left: 0;

		p {
			font-size: 1.3em;
		}
	}

	#tickets-info-button {
        font-size: 1em;
		padding: 0.75em 1.25em;
		border-radius: 4px;
	}

	#tickets-sale {
		width: 43%;
		left: 26%;
		padding: 2.5em 1em 0 2.5em;

		h2 {
			font-size: 1.75em;
			margin-bottom: 0.5em;
		}

		p {
			font-size: 1em;
			line-height: 1.5em;
		}
	}

	#tickets-eventbrite {
		width: 31%;
		right: 0;
		color: #237EA4;
		background-color: #EFEFEF;
		padding: 2.5em 1em 0 1em;

		h1 {
			font-size: 1.5em;
		}

		img {
			width: 13em;
			height: auto;
			margin-top: 0.25em;
		}
	}
}
/*
@include ratio-tall {
	.tickets-top-feature {
		img {
			height: 3vmax;
		}
	}
}
*/
