// Import global css to use for all projects */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
td{
	overflow: hidden;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}
.unselectable {
	pointer-events: none;
}
.buttonContainer{
	float:left;
	width: 100%;
	margin: 7px;
}




#overlay {
	position: relative;
}

.hidden {
	display: none;
}

.btn {
	cursor: pointer;
}

#header-view {
	position: relative;
	
	.content {
		position: absolute;
		top: 0;
		right: 0;
	}
	
	#open-menu {
		width: 200px;
		height: 45px;
		background-color: #FA4;
		
		&:hover {
			background-color: #FB5;
		}
	}
}

#homeView {
	height: 100vh;
	
	.content {
		width: 100%;
		display: inline-block;
	}
	
	.content-top {
		height: 60%;
		background-color: #44F;
	}
	
	.content-bottom {
		height: 40%;
		background-color: #F44;
	}
	
	.split-bottom {
		display: inline-block;
		width: 33%;
		height: 100%;
	}
	
}

#menuView {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	font-size: 3em;
	background-color: rgba(#CCC, 0.92);

	.menu-content {
		width: 150px;
		margin: auto;
	}
	
	#menu-close {
		position: absolute;
		top: 0;
		right: 0;
		width: 100px;
		height: 100px;
		background-color: #F66;
		
		&:hover {
			background-color: #F77;
		}
	}
	
}