// Import global css to use for all projects */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
td{
	overflow: hidden;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}
.unselectable {
	pointer-events: none;
}
.buttonContainer{
	float:left;
	width: 100%;
	margin: 7px;
}




@mixin width-medium {
	@media only screen and (max-width: 1366px) {
		@content;
	}
}

@mixin width-compact {
	@media only screen and (max-width: 816px) {
		@content;
	}
}



// General layout helpers

body {
	font-family: 'Titillium Web', sans-serif;
}

.hidden {
	display: none;
}

.button {
	cursor: pointer;
}

.button-outline {
	height: 24px;
	color: #FFF;
	font-weight: 600;
	font-size: 1.5em;
	border: 4px #FFF solid;
	padding: 17px 0 17px;
	
	&:hover {
		color: #00EEFA;
		background-color: #FFF;
		box-shadow: 5px 5px 8px rgba(#000, 0.15);
	}
	
	@include width-medium {
		height: 18px;
		font-size: 1em;
		padding: 8px 0 8px;
	}
}

.animated {
	transition: 0.7s ease-in-out;
}



// Core page layout

#overlay {
	position: relative;
	z-index: 2;
}

#logo-waq {
	position: absolute;
	z-index: 2;
	top: 60px;
	left: 50px;
	width: 205px;
	height: 72px;
	background-image: url("../img/logo-waq.png");
	background-size: 100%;
	background-repeat: no-repeat;
	
	@include width-medium {
		top: 30px;
		left: 25px;
		width: 102px;
		height: 36px;
	}
}

#core {
	position: relative;
	z-index: 1;
	width: 100vw;
	min-height: 100vh;
	overflow: hidden;
}

#content-current, #content-loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}



// Header

#header-view {
	position: relative;
	z-index: 2;
}

#header-content {
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	margin-top: 35px;
}

.header-btn {
	margin-bottom: 2px;
	background-color: #00DAF2;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	color: rgba(#FFF, 0);
	-webkit-font-smoothing: antialiased;
}

.header-btn-popping {
	width: 145px;
	height: 44px;
	transform: translateX(82px);
	transition: 0.2s ease-in-out;
		
	&:hover {
		transform: translateX(0);
		color: rgba(#FFF, 1);
	}
	
	img {
		display: inline-block;
		vertical-align: middle;
		width: 30px;
		height: 20px;
		margin: 12px 17px;
	}
	
	span {
		vertical-align: middle;
	}
}

#header-btn-tickets {
	background-color: #FFA41F;
}

#header-btn-social {
	width: 63px;
	height: 100px;
	float: right;
	
	a {
		margin: 15px 10px 0 20px;
		display: inline-block;
		color: #FFF;
		
		&:hover {
			color: #EEE;
		}
		
	}
}



// Home

#home-view {
	height: 100vh;
	
	@include width-compact {
		height: initial;
	}
}

.home-content {
	width: 100%;
	display: inline-block;
}

#home-content-top {
	height: 60%;
	background-color: #00EEFA;
	
	@include width-medium {
	}
	
	@include width-compact {
		height: 60vh;
	}
}

#home-content-bottom {
	height: 40%;
	
	@include width-compact {
		height: initial;
	}
}

.home-split {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	width: calc(100% / 3);
	height: 100%;
	
	
	@include width-compact {
		width: 100%;
		height: 40vh;
	}
}

#home-title {
	width: 930px;
	margin: 150px auto;
	
	@include width-medium {
		width: 450px;
		margin: 100px auto;
	}
	
	h1 {
		font-weight: 600;
		font-size: 3.5em;
		color: #FFF;
		line-height: 1.2;
		
		@include width-medium {
			font-size: 1.85em;
		}
	}
	
	.home-title-thin {
		font-weight: 300;
	}
}

#home-btn-schedule {
	width: 250px;
	float: right;
	margin-top: 25px;
	padding-left: 25px;
	
	@include width-medium {
		width: 160px;
	}
}

#home-blog-post {
	background-color: #0395BA;
}



// Tickets

#tickets-view {
	height: 100vh;
}

.tickets-split-left {
	width: 26%;
	float: left;
}

.tickets-split-right {
	width: 74%;
	float: right;
}

.tickets-split-top {
	height: 70%;
	color: greenyellow;
}

.tickets-split-bottom {
	height: 30%;
}

#tickets-photo {
	background-image: url("../img/photo-tickets-quote.jpg");
	background-size: cover;
}

#tickets-contents {
	background-color: #00DAF2;
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.35;
	color: #FFF;
}

#tickets-contents-wrapper {
	margin-top: 175px;
	padding: 0 30px 30px 45px;
	
	h2 {
		font-style: italic;
		margin-bottom: 25px;
	}
	
	p {
		margin-bottom: 15px;
	}
	
	img {
		width: 60px;
		height: auto;
		float: left;
		margin-right: 20px;
	}
	
	@include width-medium {
		background-color: #F00;
	}
}



// Schedule

#schedule-view {
	height: 100vh;
}






#menu-view {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	font-size: 3em;
	background-color: rgba(#00D9F2, 0.9);

	.menu-content {
		width: 250px;
		margin: auto;
	}
}

#menu-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	height: 100px;
	background-color: #F66;
	
	&:hover {
		background-color: #F77;
	}
}

.conference-collapsed {
	height: 16px;
	overflow: hidden;
}