<div id="tickets-view">

	<div id="tickets-top">
		<div id="tickets-top-photo">
			<div id="tickets-top-gradient" class="tickets-title">
				<h2>Votre billet pour le WAQ comprend :</h2>
			</div>
			<div id="tickets-quote">
				<p id="tickets-quote-author"></p>
			</div>
		</div>
		<div id="tickets-top-features">
			<div class="tickets-table">
				<div id="tickets-contents" class="tickets-table-row">
					<div id="tickets-contents-cell" class="tickets-table-cell tickets-title">
						<h2>Votre billet pour le WAQ comprend :</h2>
					</div>
				</div>
				<div class="tickets-table-row">
					<div class="tickets-table-cell tickets-top-feature">
						<img src="/img/icon-ticketIncludes-access.png" alt="Conférences"/>
						<p>Votre entrée pour 3 jours<br>de conférences portant sur<br>le web et ses domaines</p>
					</div>
				</div>
				<div class="tickets-table-row">
					<div class="tickets-table-cell tickets-top-feature">
						<img src="/img/icon-ticketIncludes-meals.png" alt="Repas"/>
						<p>Tous vos repas ainsi que<br>vos boissons sont offerts<br>par la maison</p>
					</div>
				</div>
				<div class="tickets-table-row">
					<div class="tickets-table-cell tickets-top-feature tickets-extra-padding">
						<img src="/img/icon-ticketIncludes-party.png" alt="5 à 7"/>
						<p>Un accès à tous nos 5 à 7,<br>qu’ils se trouvent sur place<br>ou à l’extérieur</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="tickets-bottom">
		<div id="tickets-sale">
			<h2>Dernière vente des billets! Hurry&nbsp;up!</h2>
		</div>
		<div id="tickets-eventbrite">
			<h1>RÉSERVEZ VOS BILLETS POUR L'ÉDITION 2016 DÈS À PRÉSENT&nbsp;:</h1>
			<a href="http://www.eventbrite.com/e/billets-web-a-quebec-2016-6e-edition-18295299734" target="_blank"><img src="/img/logo-eventbrite.png" alt="Eventbrite logo"/></a>
		</div>
		<div id="tickets-information">
			<div class="tickets-table">
				<div class="tickets-table-row">
					<div id="tickets-info-button" class="tickets-table-cell button">
						<div id="tickets-info-image"></div>
						<p>INFORMATIONS PRATIQUES</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
