<div id="tickets-view">
	<div id="ticket-header"></div>
	<div id="home-scroll">
		<div id="tickets-top">
			<div id="tickets-top-photo">
				<div id="tickets-top-gradient" class="tickets-title">
					<h2>Votre billet pour le WAQ comprend :</h2>
				</div>
				<div id="tickets-quote">
	                <h2>Participez au plus grand événement numérique francophone en Amérique.</h2>
					<p id="tickets-quote-author"></p>
				</div>
			</div>
			<div id="tickets-top-features">
				<div class="tickets-table">
					<div id="tickets-contents" class="tickets-table-row">
						<div id="tickets-contents-cell" class="tickets-table-cell tickets-title">
							<h2>Votre billet pour le WAQ comprend :</h2>
						</div>
					</div>
					<div class="tickets-table-row">
						<div class="tickets-table-cell tickets-top-feature">
							<img src="/img/icon-ticketIncludes-access.png" alt="Conférences"/>
							<p>3 jours complets de<br>conférences et d'ateliers<br>portant sur le numérique</p>
						</div>
					</div>
					<div class="tickets-table-row">
						<div class="tickets-table-cell tickets-top-feature">
							<img src="/img/icon-ticketIncludes-meals.png" alt="Repas"/>
							<p>De savoureux repas<br>en plus d'une grande<br>variété de breuvages</p>
						</div>
					</div>
					<div class="tickets-table-row">
						<div class="tickets-table-cell tickets-top-feature tickets-extra-padding">
							<img src="/img/icon-ticketIncludes-party.png" alt="5 à 7"/>
							<p>Accès à tous les<br>5@7 sur place et<br>aux soirées After WAQ</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="tickets-bottom">
			<div id="tickets-sale">
				<h2>Saurez-vous saisir votre dernière chance ?</h2>
				<p>Vous hésitiez à acheter votre billet sans connaître la programmation de cette 6e édition? Maintenant que celle-ci vous a été dévoilée, voici votre dernière chance ! Achetez un des 75 billets disponibles et profitez de 200 $ de rabais sur votre participation au plus grand événement numérique francophone en Amérique.</p>
			</div>
			<div id="tickets-eventbrite">
				<h1>ACHETEZ VOTRE BILLET POUR LE WAQ DÈS MAINTENANT !&nbsp;</h1>
				<img src="/img/logo-eventbrite.png" alt="Eventbrite logo"/>
			</div>
			<div id="tickets-information">
				<div class="tickets-table">
					<div class="tickets-table-row tickets-title">Rendez-vous du 6 au 8 avril 2016, de 7h30 à 19h</div>
	                <div class="tickets-table-row">
	                    <div id="tickets-info-button" class="button">INFORMATIONS PRATIQUES</div>
	                </div>
				</div>
			</div>
		</div>
	</div>
</div>
