<div id="tickets-view">
	<div id="tickets-content-top">
		<div id="tickets-photo">
		</div>
		<div id="tickets-features">
			<div class="tickets-feature-item">
				<div class="ticket-feature-wrapper ticket-feature-background">
					<div id="ticket-feature-title">
						<span>Votre billet pour le WAQ&nbsp;comprend&nbsp;:</span>
					</div>
				</div>
			</div>
			<div class="tickets-feature-item">
				<div class="ticket-feature-wrapper">
					<div class="ticket-image-wrapper"><img src="/img/icon-ticketIncludes-access.png" alt="Conférences"/></div>
					<p>Votre entrée pour 3 jours<br>de conférences portant sur<br>le web et ses domaines</p>
				</div>
			</div>
			<div class="tickets-feature-item">
				<div class="ticket-feature-wrapper">
					<div class="ticket-image-wrapper"><img src="/img/icon-ticketIncludes-meals.png" alt="Repas"/></div>
					<p>Tous vos repas ainsi que<br>vos boissons sont offerts<br>par la maison</p>
				</div>
			</div>
			<div class="tickets-feature-item">
				<div class="ticket-feature-wrapper">
					<div class="ticket-image-wrapper"><img src="/img/icon-ticketIncludes-party.png" alt="5 à 7"/></div>
					<p>Un accès à tous nos 5 à 7,<br>qu’ils se trouvent sur place<br>ou à l’extérieur</p>
				</div>
			</div>
			<!--<div class="tickets-feature-item">
				<div class="ticket-feature-wrapper">
					<img src="/img/icon-ticketIncludes-access.png" alt="Conférences"/>
					<p>Votre entrée pour 3 jours<br>de conférences portant sur<br>le web et ses domaines</p>
				</div>
			</div>-->
		</div>
	</div>
	<!--
	<div id="tickets-photo" class="tickets-split-right tickets-split-top">
		<div id="tickets-quote">
			<p class="tickets-quote-content">“ Quisque imperdiet est et magna convallis commodo. Etiam id interdum ante. Proin placerat erat a urna volutpat luctus. ”</p>
			<p class="tickets-quote-author">Francis Gosselin, édition 2015</p>
		</div>
	</div>
	
	<div id="tickets-contents" class="tickets-split-left tickets-split-top">
		<div id="tickets-contents-wrapper">
			<h2>Votre billet pour le WAQ comprend :</h2>
			<div class="tickets-contents-item">
				<img src="/img/icon-ticketIncludes-access.png" alt="includes access"/>
				<p>Votre&nbsp;entrée&nbsp;pour&nbsp;3&nbsp;jours de&nbsp;conférences&nbsp;portant&nbsp;sur le&nbsp;web&nbsp;et&nbsp;ses&nbsp;domaines</p>
			</div>
			<div class="tickets-contents-item">
				<img src="/img/icon-ticketIncludes-meals.png" alt="includes meals"/>
				<p>Tous&nbsp;vos&nbsp;repas&nbsp;ainsi&nbsp;que vos&nbsp;boissons&nbsp;sont&nbsp;offerts<br/>par&nbsp;la&nbsp;maison</p>
			</div>
			<div class="tickets-contents-item">
				<img src="/img/icon-ticketIncludes-party.png" alt="includes party"/>
				<p>Un&nbsp;accès&nbsp;à&nbsp;tous&nbsp;nos&nbsp;5&nbsp;à&nbsp;7, qu'ils&nbsp;se&nbsp;trouvent&nbsp;sur&nbsp;place ou&nbsp;à&nbsp;l'extérieur</p>
			</div>
		</div>
	</div>
	
	<div id="tickets-sale" class="tickets-split-right tickets-split-bottom">
		<div id="tickets-sale-wrapper">
			<div id="tickets-sale-details">
				<h2>Dernière vente des billets! Hurry up!</h2>
				<p>Nam tempus est augue, quis finibus tellus bibendum nec. Nulla bibendum pulvinar sapien, sit amet sollicitudin orci porttitor et. Integer ultricies nibh vitae sapien egestas, mollis fringilla massa elementum. Donec finibus, nisl a varius aliquam, nunc nunc pellentesque dolor, venenatis finibus sapien tortor non sem. In lectus velit, pretium in nunc sed, fermentum tempus lacus.</p>
			</div>
			<div id="tickets-sale-eventbrite">
				<h1>RÉSERVEZ&nbsp;VOS&nbsp;BILLETS&nbsp;POUR L'ÉDITION&nbsp;2016&nbsp;DÈS&nbsp;À&nbsp;PRÉSENT&nbsp;:</h1>
				<a href="#"><img src="/img/logo-eventbrite.png" alt="Eventbrite logo"/></a>
			</div>
		</div>
	</div>
	<div class="tickets-split-left tickets-split-bottom">
		<div id="tickets-wrapper">
			<div id="tickets-info" class="button">
				<div class="image"></div>
				<span>INFORMATIONS PRATIQUES</span>
			</div>
		</div>
	</div>-->
</div>