<div id="home-view">
	<div id="home-content-top" class="home-content">
		<div id="home-title-container">
			<h1><span id="home-title-thin">Bienvenue au Web à Québec,</span><br/>Le plus grand événement numérique<br/>en Amérique du Nord.</h1>
			<div id="home-button-schedule" class="button button-outline">> PROGRAMMATION</div>
		</div>
	</div>
	<div id="home-content-bottom" class="home-content">
		<div id="home-blog-post" class="home-split">
			<!-- Blog -->
			
		</div><!-- gross inline-block spacing fix
	 --><div class="home-split">
			<iframe width="100%" height="100%" src="https://www.youtube.com/embed/tWkGKSlvJyM" frameborder="0" allowfullscreen></iframe>
		</div><!-- gross inline-block spacing fix
	 --><div class="home-split">
			<!-- Twitter -->
		 
		</div>
	</div>
</div>