<div id="home-view" class="home-page">
	<div id="home-content-top">

		<div class="background background-animated">
			<div id="background-2016"></div>
			<div class="parallax-layer front">
				<div id="home-cloudContainer-1" class="clouds first"></div>
				<div id="home-cloudContainer-2" class="clouds second"></div>
			</div>
			<div class="parallax-layer"><img id="background-chateau" src="/svg/chateau.svg"></div>
			<div class="parallax-layer back">
				<div id="home-cloudContainer-3" class="clouds first"></div>
				<div id="home-cloudContainer-4" class="clouds second"></div>
			</div>
			<div id="background-hill"></div>
			<div id="background-waves"></div>
		</div>

		<div id="home-title-container">
			<h1><span id="home-title-thin">Bienvenue au Web à Québec,</span><br/>Le plus grand événement numérique<br/>en Amérique du Nord.</h1>
			<div id="home-button-schedule" class="button">> PROGRAMMATION</div>
		</div>

		<div id="home-navigation">
			<img src="/img/icon-navigate.png" alt="navigation instructions"/>
			<p>Naviguez au clavier ou en swipe</p>
		</div>
	</div>
	<div id="home-content-bottom">
		<div id="home-blog-post" class="home-split">
			<div class="home-split-wrapper">
				<h2>Une expérience inoubliable</h2>
				<h3>Par Charlie Fernandez</h3>
				<p>Integer a leo fermentum, posuere quam id, vulputate neque. Curabitur vel interdum metus. Nullam quis iaculis velit. Nam pellentesque felis eu pulvinar elementum. Nam venenatis varius maximus. Vestibulum facilisis et sem vitae vehicula. Aenean sodales ex sed neque viverra.</p>
			</div>
		</div><!--
	 --><div id="home-video-container" class="home-split button">
		 	<div id="home-video-play"></div>
		</div><!--
	 --><div id="home-twitter-container" class="home-split">
			<div class="home-split-wrapper">
				<h2>Toute l'actualité du Web à Québec sur les réseaux sociaux / <a href="https://twitter.com/hashtag/waq16" target="_blank">#WAQ16</a></h2>
		 	</div>
			<div id="home-twitter-timeline">
				<a class="twitter-timeline" href="https://twitter.com/hashtag/waq16" data-widget-id="656186803414769665" data-chrome="noheader nofooter noborders" data-tweet-limit="1"></a>
			</div>
		</div>
	</div>
</div>
