
<div class="department" id="department{%=o.ID %}"" style="height:30px;">
    <div style="float:left; width:130px;">Department Name:</div>
	<input type="text" id="input{%=o.ID %}" style="float:left; width:200px;" placeholder="Department's Name" value="Frontend">
	<input type="text" id="inputHourlyRate{%=o.ID %}" style="float:left; width:200px;" placeholder="Hourly Rate" value="85$">
	<div class="buttonContainer" style="width:13px;">
		<div id="delete{%=o.ID %}" class="button" style="width:13px;">X</div>
	</div>
</div>
